
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,300italic,400italic,700italic");
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans-LightItalic.otf');
  src: url('fonts/FiraSans-Regular.otf');
  src: url('fonts/FiraSans-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}

$fira-sans: 'FiraSansSemiBold','Helvetica Neue', 'Helvetica', 'Arial',sans-serif;
$lato: 'Lato Regular','Helvetica Neue', 'Helvetica', 'Arial',sans-serif;
$lato-bold: "Lato Bold", 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$montserrat: 'Montserrat Regular','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$montserrat-bold: 'Montserrat Bold','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$primary-color: #f8f8f8;
$secondary-color: #003434;
$beige: #f9f1dc;
$black-color: black;

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lato;
  font-weight: 700;

}

h1 {
  font-family: $lato;
  font-weight: 700;
  text-transform: none !important;
  color: black;
  font-size: 2em;
  line-height: 45px;
  padding-top: 10px;
  }

h2 {
  font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 1.17em;
  line-height: 29px;
  color: black;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

h4 {
  font-family: $lato;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-transform: none !important;
  color:  black;
}

h5 {
  color: #4d5656;
  font-family: $fira-sans;
  font-size: 0.83em;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 0.67em;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-color;
  padding-left: 20px;
}

h6 a {
  font-family: $lato-bold;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: 33px;
}

h6 a:hover {
  color: beige !important;
  text-decoration: none;
}

a {
  color: #9370DB;
}

a:hover {
  color: #f9f1dc;
  }

a:active {
  color: whitesmoke;
}

a:focus {
  color: whitesmoke;
}

p {
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $beige;
  text-transform: none !important;
}

.code {
  color: #F4A460;
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
  line-height: 107px;
}

.leader {
  text-align: center;
}

.section-heading h2 {
  font-family: $lato;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: black;
}

.section--title {
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $black-color;
}

.section--body {
  font-family: $fira-sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: black;
  padding-top: 20px;
}

.column h1 {
  padding-left: 30px;
}

.paged-links {
  color: #f9f1dc;
}

label {
  color: #f9f1dc;
}

.tag--centre {
  text-decoration: none;
  padding-top: 10px;
}

.twitter a {
  text-decoration: none;
}

.fa-2x {
  color: #fdfdfd;
  padding-left: 20px;
}

.body {
  color:  #f8f8f8;
}


.side-heading {
  font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 2em;
  font-family: $lato;
  font-weight: 700;
  line-height: 47px;
}

.comment-heading {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $beige;
}

.blog--title {
  font-family: $fira-sans;
  font-size: 35px;
  line-height: 54px;
  font-weight: 600;
  text-transform: capitalize;
  color: $beige;
}

.blog--excerpt {
  font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: $primary-color;
  margin: 0;
  padding-bottom: 10px;
}

#published--at {
  font-family: 'FiraSans Light', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  color: $beige;
}

.lead {
  font-family: $lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: $black-color;
}

.column-name {
  font-family: $lato-bold;
  font-size: 24px;
  text-transform: uppercase;
  color: $secondary-color;
  font-weight: 700;
  line-height: 38px;
  position: relative;
  left: 40px;
}

.news--heading {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  text-transform: uppercase;
  color: $beige;
  margin: 0;
  padding-left: 20px;
  }

.lorem--text {
  font-family: "Georgia Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  color: #606060;
  border: 0;
}

.social--text {
  font-family: "Georgia Italic", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  font-style: italic;
  color: white;
  text-transform: none;
  padding-top: 10px;
}

.box--line {
  font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: $secondary-color;
  margin: 0;
  padding: 0;
}

.lower--box-text {
  font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: $secondary-color;
}

.box--underline {
  font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: $secondary-color;
  margin: 0;

}



@media screen and (min-width: 981px) and (max-width: 1381px) {

  .code {
    color: #F4A460;
  }

  .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  .intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
    line-height: 107px;
  }

  .leader {
    text-align: center;
  }

  .section-heading h2 {
    font-family: $lato;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: black;
  }

  .section--title {
    font-family: $lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $black-color;
  }

  .section--body {
    font-family: $fira-sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: black;
    padding-top: 20px;
  }

  .column h1 {
    padding-left: 30px;
  }

  .paged-links {
    color: #f9f1dc;
  }

  label {
    color: #f9f1dc;
  }

  .tag--centre {
    text-decoration: none;
    padding-top: 10px;
  }

  .twitter a {
    text-decoration: none;
  }

  .fa-2x {
    color: #fdfdfd;
    padding-left: 20px;
  }

  .body {
    color: #f8f8f8;
  }

  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 2em;
    font-family: $lato;
    font-weight: 700;
    line-height: 47px;
  }

  .blog--title {
    font-family: $fira-sans;
    font-size: 35px;
    line-height: 54px;
    font-weight: 600;
    text-transform: capitalize;
    color: $beige;
  }

  .blog--excerpt {
    font-family: "Georgia Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: $primary-color;
    margin: 0;
    padding-bottom: 10px;
  }

  .comment-heading {
    font-family: $lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $beige;
  }

  #published--at {
    font-family: 'FiraSans Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
    color: $beige;
  }

  .lead {
    font-family: $lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: $black-color;
  }

  .column-name {
    font-family: $lato-bold;
    font-size: 24px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 38px;
    position: relative;
    left: 40px;
  }

  .news--heading {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
  }

  .lorem--text {
    font-family: "Georgia Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    color: #606060;
    border: 0;
  }

  .social--text {
    font-family: "Georgia Italic", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    color: white;
    text-transform: none;
    padding-top: 10px;
  }

  .box--line {
    font-family: "Georgia Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;
    padding: 0;
  }

  .lower--box-text {
    font-family: "Georgia Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: $secondary-color;
  }

  .box--underline {
    font-family: "Georgia Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;

  }


}

@media screen and (min-width: 481px) and (max-width: 980px) {

  .code {
    color: #F4A460;
  }


  .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }

  .intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    line-height: 106px;
  }

  .leader {
    text-align: center;
  }

  .section-heading h2 {
    font-family: $lato;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    color: black;
  }

  .section--title {
    font-family: $lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $black-color;
  }

  .section--body {
    font-family: $fira-sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: black;
    padding-top: 20px;
  }

  .column h1 {
    padding-left: 30px;
  }

  .paged-links {
    color: #f9f1dc;
  }

  label {
    color: #f9f1dc;
  }

  .tag--centre {
    text-decoration: none;
    padding-top: 10px;
  }

  .twitter a {
    text-decoration: none;
  }

  .fa-2x {
    color: #fdfdfd;
    padding-left: 20px;
  }

  .body {
    color:  #f8f8f8;
  }

 .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 2em;
    font-family: $lato;
    font-weight: 700;
    line-height: 46px;
 }

 .comment-heading {
    font-family: $lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: $beige;
 }

 .blog--title {
    font-family: $fira-sans;
    font-size: 35px;
    line-height: 49px;
    font-weight: 600;
    text-transform: capitalize;
    color: $beige;
 }

 .blog--excerpt {
    font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    color: $primary-color;
    margin: 0;
    padding-bottom: 10px;
 }

 #published--at {
    font-family: 'FiraSans Light', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    color: $beige;
 }

 .lead {
    font-family: $lato;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: $black-color;
 }

 .column-name {
    font-family: $lato-bold;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 33px;
    position: relative;
    left: 40px;
 }

 .news--heading {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
 }

 .lorem--text {
    font-family: "Georgia Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    color: #606060;
    border: 0;
 }

 .social--text {
    font-family: "Georgia Italic", sans-serif;
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
    line-height: 27px;
    color: white;
    text-transform: none;
    padding-top: 10px;
 }

 .box--line {
    font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;
    padding: 0;
 }

 .lower--box-text {
    font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: $secondary-color;
 }

 .box--underline {
    font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;

 }
}

@media all and (min-width: 100px) and (max-width: 480px) {

  .code {
    color: #F4A460;
  }

  .intro-message > h1 {
    font-size: 3em;
    font-family: $montserrat;

  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .leader {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #303030;
    width: 100%;
  }

  .section--heading {
    font-family: $montserrat-bold;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    color: black;
    margin-bottom: 30px;
  }

  .section--title {
    font-family: $montserrat-bold;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $black-color;
  }

  .section--body {
    font-family: $montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: black;
  }

  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
    line-height: 64px;
  }

 .head {
    padding-left: 200px;
    text-transform: uppercase;
    color: #303030;
 }

  .twitter a {
    text-decoration: none;
  }

  .left-container p {
    color: $beige;
  }

  .tag--centre {
    text-decoration: none;
  }

 .social--text {
    font-family: "Georgia Italic", sans-serif;
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
    line-height: 23px;
    color: white;
    text-transform: none;
    padding-top: 10px;
 }

 .news--heading {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
 }

 .lead {
    font-family: $montserrat;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: black;
 }

 .lorem--text {
    font-family: "Georgia Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 27px;
    color: #606060;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    width: 100%;
 }

 .box--line {
    font-family: "Georgia Italic","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;
 }

 .column-name {
    font-family: $lato-bold;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 33px;
 }

 .blog--title {
    font-family: $fira-sans;
    font-size: 35px;
    line-height: 47px;
    font-weight: 600;
    text-transform: capitalize;
    color: $beige;
 }

}







