

@font-face {
  font-family: 'Georgia Italic';
  src: url('/fonts/georgia-italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url('/fonts/Lato-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('/fonts/Lato-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/fonts/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('/fonts/MyriadPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('/fonts/SourceSansPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('/fonts/SourceSansPro-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vacer Serif Thin';
  src: url('/fonts/VacerSerifThinPersonal.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vacer Serif Bold';
  src: url('/fonts/VacerSerifBoldPersonal.ttf');
  font-weight: normal;
  font-style: normal;
}


$georgia: "Georgia Italic", sans-serif;
$lato-bold: 'Lato Bold', sans-serif;
$lato-regular: 'Lato Regular', sans-serif;
$lato-light: 'Lato Light', sans-serif;
$montserrat: 'Montserrat Regular', sans-serif;
$montserrat-bold: 'Montserrat Bold', sans-serif;
$myriad-pro: 'Myriad Pro', sans-serif;
$source-pro: 'Source Sans Pro', sans-serif;
$source-light: 'Source Sans Pro Light', sans-serif;
$vacer-thin: 'Vacer Serif Thin', sans-serif;
$vacer-bold: 'Vacer Serif Bold', sans-serif;
$beige: #f9f1dc;
$black: #000000;
$primary-color: #f8f8f8;
$secondary-color: #003434;
$white: #F8F8F8;
$brown: #a4a4a4;

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lato-bold;
  font-weight: 700;
}

h1 {
  font-family: $lato-bold;
  font-weight: 700;
  text-transform: none !important;
  color: $black;
  font-size: 3em;
  line-height: 45px;
  padding-top: 10px;
  margin: 0;
}

h2 {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 2em;
  line-height: 36px;
  //text-transform: uppercase;
  color: #f9f1dc;
  margin: 0;
  padding-top: 10px;
}


h3 {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 38px;
  text-transform: capitalize;
  color:  #282828;
  padding-top: 10px;
  margin: 0;
}

h4 {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 1.17em;
  line-height: 29px;
  text-transform: capitalize;
  color: #282828;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

h5 {
  color: #282828;
  font-family: $lato-bold;
  font-size: 1em;
  line-height: 25px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: lowercase;
}

h6 {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 0.67em;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-color;
  padding-left: 10px;
}

h5 a {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 1em;
  line-height: 23px;
  text-transform: capitalize;
  color: #404040;
}

h6 a {
  font-family: $lato-bold;
  font-size: 1.5vw;
  line-height: 33px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: 33px;
}

h6 a:hover {
  color: #ada074;
  text-decoration: none;
  border: none;
}

h7 a {
  font-family: $lato-bold;
  font-size: 1em;
  line-height: 30px;
  text-transform: uppercase;
  color: $black;
  font-weight: 700;

}

h8 {
  font-family: $vacer-thin;
  font-weight: 200;
  font-size: 18vw;
  line-height: 49px;
  color: $beige;
}

h9 {
  font-family: $vacer-bold;
  font-weight: 200;
  font-size: 18vw;
  line-height: 49px;
  color: $beige;
}

h10 {
  font-family: $vacer-thin;
  font-weight: 200;
  font-size: 1.8750em;
  line-height: 44px;
  color: $black;
}

h11 {
  font-family: $vacer-bold;
  font-weight: 200;
  font-size: 1.8750em;
  line-height: 44px;
  color: $black;
}

h12 {
  font-family: $lato-bold;
  font-weight: 200;
  font-size: 3vw;
  line-height: 49px;
  text-transform: uppercase;
  color: $black;
}

h13 {
  font-family: $lato-bold;
  font-weight: 200;
  font-size: 3vw;
  line-height: 49px;
  text-transform: uppercase;
  color: $black;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

h14 {
  font-family: $lato-regular;
  font-weight: 200;
  font-size: 26px;
  text-transform: uppercase;
  color: $black;
  padding-bottom: 15px;
}

h15 {
  font-family: $lato-bold;
  font-weight: 200;
  font-size: 3vw;
  text-transform: uppercase;
  color: $beige;
  border-bottom: 1px solid $beige;
  padding-bottom: 20px;
}

a {
  color: black;
  }

a:hover {
  color: #ada074;
  text-decoration: underline;
}

a:active {
  color: #ada074;
}

a:focus {
  color: #ada074;
}

p {
  font-family: $lato-regular;
  font-weight: 700;
  font-size: 1vw;
  line-height: 28px;
  color: #303030;
  text-transform: none !important;
  }

.date {
  font-family: $lato-light;
  font-weight: 600;
  font-size: 0.95em;
  line-height: 28px;
  color: $black;
}

.body {
  color:  white;
}

.tagline {
  font-family: $myriad-pro;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 32px;
  color: $white;
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
  line-height: 107px;
}

.leader {
  text-align: center;
}

.alert-notify {
  font-family: $lato-regular;
  font-weight: 900;
  font-size: 1em;
  line-height: 30px;
  color: $black;
  text-transform: capitalize !important;
  padding: 0;
  margin: 0;
}

.find-link {
  font-family: $lato-bold;
  font-weight: 900;
  font-size: 1em;
  line-height: 30px;
  color: $black;
  text-transform: capitalize !important;
  padding: 0;
  margin: 0;
}

.find-link:hover {
  color: #ada074;
}

label {
  color: #f9f1dc !important;
}

/* Tags show blade */
.tag--centre {
  text-decoration: none;
  padding-top: 10px;
}

.side-heading {
  font-family: $georgia;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 29px;
  text-transform: capitalize;
  color: $primary-color;
  margin: 0;
  padding: 0;
}


/* Column Container & Newsletter Container Typography */

.column h1 {
  padding-left: 30px;
}

.blog--title {
  font-family: $lato-bold;
  font-size: 2vw;
  line-height: 54px;
  font-weight: 900;
  text-transform: capitalize;
  color: $black;
}

.box--name {
  font-family: $lato-bold;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: $secondary-color;
  font-weight: 700;
  line-height: 38px;
  width: 100%;

}

.box--title {
  font-family: $georgia;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 21px;
  text-transform: uppercase;
  color: $secondary-color;
  margin: 0;
}

.blog--excerpt {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 1vw;
  line-height: 32px;
  text-transform: none;
  color: $black;
  margin: 0;
  padding-bottom: 10px;
}

.news--heading {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 51px;
  text-transform: uppercase;
  color: $beige;
  margin: 0;
  padding-left: 20px;
}

.lorem--text {
  font-family: $georgia;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  color: #808080;
  border: 0;
  text-transform: none;
}

.social--text {
  font-family: $georgia;
  font-weight: 500;
  font-size: 0.938em;
  line-height: 30px;
  font-style: italic;
  color: white;
  text-transform: none;
  padding-top: 10px;
}

.project-links {
  font-family: $lato-bold;
  font-weight: 300;
  font-size: 1em;
  line-height: 30px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.twitter a {
  text-decoration: none;
}

/* Portfolio section showcase */
.section--title {
  font-family: $lato-bold;
  font-weight: 400;
  font-size: 1em;
  line-height: 30px;
  color: $black;
}

.section--body {
  font-family: $lato-bold;
  font-weight: 300;
  font-size: 1em;
  line-height: 30px;
  color: black;
  padding-top: 20px;
}

.section-heading h2 {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 44px;
  color: black;
}

.control-label {
  padding: 0;
  margin: 0;
  font-family: $lato-bold;
  color: #606060 !important;
  font-size: 15px !important;
  line-height: 24px;
  text-transform: uppercase;
}

label {
  font-family: $lato-bold;
  font-size: 14px;
  line-height: 29px;
  text-transform: uppercase;
}

.riz {
  font-family: $source-pro;
  font-size: 12px;
  line-height: 28px;
  color: #949494;
  padding-left: 25px;
  padding-right: 25px;
}

.art {
  font-family: $source-pro;
  font-size: 12px;
  line-height: 28px;
  color: #949494;
  padding-left: 60px;
}



@media screen and (min-width: 981px) and (max-width: 1381px) {

  .tagline {
    font-family: $myriad-pro;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 32px;
    color: $white;
  }

  .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  .intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
    line-height: 107px;
  }

  .leader {
    text-align: center;
  }

  .body {
    color: white;
  }

  .alert-notify {
    font-family: $lato-bold;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: $black;
    text-transform: capitalize !important;
    padding: 0;
    margin: 0;
  }

  .find-link {
    font-family: $lato-bold;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: $black;
    text-transform: capitalize !important;
    padding: 0;
    margin: 0;
  }

  .find-link:hover {
    color: #ada074;
  }


  label {
    color: #f9f1dc !important;
  }

  /* Tags show blade */
  .tag--centre {
    text-decoration: none;
    padding-top: 10px;
  }

  .side-heading {
    font-family: $georgia;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 29px;
    text-transform: capitalize;
    color: $primary-color;
    margin: 0;
    padding: 0;
  }

  /* Column Container & Newsletter Container Typography */
  .column h1 {
    padding-left: 30px;
  }

  .box--name {
    font-family: $lato-bold;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 38px;
    width: 100%;

   }

  .blog--title {
    font-family: $lato-bold;
    font-size: 2vw;
    line-height: 54px;
    font-weight: 900;
    text-transform: capitalize;
    color: $black;
  }

  .blog--excerpt {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 1vw;
    line-height: 32px;
    text-transform: none;
    color: $black;
    margin: 0;
    padding-bottom: 10px;
  }

  .news--heading {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 2.250em;
    line-height: 51px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
  }

  .lorem--text {
    font-family: $georgia;
    font-size: 1.125em;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    color: #808080;
    border: 0;
    text-transform: none;
  }

  .social--text {
    font-family: $georgia;
    font-weight: 500;
    font-size: 0.938em;
    line-height: 30px;
    font-style: italic;
    color: white;
    text-transform: none;
    padding-top: 10px;
  }

  .box--title {
    font-family: $georgia;
    font-weight: 300;
    font-size: 1.3vw;
    line-height: 21px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;
  }

  .box--underline {
    font-family: $georgia;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 32px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;
  }

  .project-links {
    font-family: $lato-bold;
    font-weight: 300;
    font-size: 1em;
    line-height: 30px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* Portfolio section showcase */
  .twitter a {
    text-decoration: none;
  }

  .section-heading h2 {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 44px;
    color: black;
  }

  .section--title {
    font-family: $lato-bold;
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    color: $black;
  }

  .section--body {
    font-family: $lato-bold;
    font-weight: 300;
    font-size: 1em;
    line-height: 30px;
    color: black;
    padding-top: 20px;
  }

  .control-label {
    padding: 0;
    margin: 0;
    font-family: $lato-bold;
    color: #606060 !important;
    font-size: 15px !important;
    line-height: 24px;
    text-transform: uppercase;
  }

  label {
    font-family: $lato-bold;
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
  }

  .riz {
    font-family: $source-pro;
    font-size: 12px;
    line-height: 28px;
    color: #949494;
    padding-left: 25px;
    padding-right: 25px;
  }

  .art {
    font-family: $source-pro;
    font-size: 12px;
    line-height: 28px;
    color: #949494;
    padding-left: 60px;
  }

  h6 a {
    font-family: $lato-bold;
    font-size: 1.5vw;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    line-height: 33px;
  }

  h6 a:hover {
    color: #ada074;
    text-decoration: none;
    border: none;
  }




}

@media screen and (min-width: 481px) and (max-width: 980px) {

  .tagline {
    font-family: $myriad-pro;
    font-weight: 300;
    font-size: 1.250em;
    line-height: 34px;
    color: $white;
  }

  .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }

  .intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    line-height: 106px;
  }

  .leader {
    text-align: center;
  }

  .body {
    color:  white;
  }

  .paged-links {
    color: #f9f1dc;
  }

  label {
    color: #f9f1dc !important;
  }

  /* Tags show blade */
  .tag--centre {
    text-decoration: none;
    padding-top: 10px;
  }


  .alert-notify {
    font-family: $lato-bold;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: $black;
    text-transform: capitalize !important;
    padding: 0;
    margin: 0;
  }

  .find-link {
    font-family: $lato-bold;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: $black;
    text-transform: capitalize !important;
    padding: 0;
    margin: 0;
  }

  .find-link:hover {
    color: #ada074;
  }

  /* Column Container & Newsletter Container Typography */
  .column h1 {
    padding-left: 30px;
  }

  .blog--title {
    font-family: $lato-bold;
    font-size: 3vw;
    line-height: 49px;
    font-weight: 900;
    text-transform: capitalize;
    color: $black;
  }

  .blog--excerpt {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 30px;
    text-transform: none;
    color: $black;
    margin: 0;
    padding-bottom: 10px;
  }

  .box--name {
    font-family: $lato-bold;
    //font-size: 1.500em;
    font-size: 2vw;
    line-height: 36px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 33px;
    width: 100%;
  }

  .box--title {
    font-family: $georgia;
    font-weight: 300;
    font-size: 2vw;
    line-height: 21px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;

  }

  .news--heading {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 2.250em;
    line-height: 50px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
  }

  .lorem--text {
    font-family: $georgia;
    font-size: 1.125em;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    color: #808080;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
   text-transform: none;
  }

  .social--text {
    font-family: $georgia;
    font-weight: 500;
    font-size: 0.938em;
    font-style: italic;
    line-height: 27px;
    color: white;
    text-transform: none;
    padding-top: 10px;
  }

 .project-links {
  font-family: $lato-bold;
  font-weight: 300;
  font-size: 1em;
  line-height: 30px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  .twitter a {
    text-decoration: none;
  }


  /* Portfolio section showcase */
  .section-heading h2 {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 43px;
    color: black;
  }

  .section--title {
    font-family: $lato-regular;
    font-weight: 400;
    font-size: 1em;
    line-height: 28px;
    color: $black;
  }

  .section--body {
    font-family: $lato-bold;
    font-weight: 300;
    font-size: 1em;
    line-height: 28px;
    color: black;
    padding-top: 20px;
  }

  .control-label {
    padding: 0;
    margin: 0;
    font-family: $lato-bold;
    color: #606060 !important;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
  }

  label {
    font-family: $lato-bold;
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
  }

  .riz {
    font-family: $source-pro;
    font-size: 12px;
    line-height: 28px;
    color: #949494;
    padding-left: 25px;
    padding-right: 25px;
  }

  .art {
    font-family: $source-pro;
    font-size: 12px;
    line-height: 28px;
    color: #949494;
    padding-left: 60px;
  }

  h6 a {
    font-family: $lato-bold;
    font-size: 2vw;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    line-height: 33px;
  }

  h6 a:hover {
    color: #ada074;
    text-decoration: none;
    border: none;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {

  h6 a {
    font-family: $montserrat;
    font-size: 4vw;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    line-height: 33px;
  }

  h6 a:hover {
    color: #ada074;
    text-decoration: none;
    border: none;
  }

  h8 {
    font-family: $vacer-thin;
    font-weight: 200;
    font-size: 26vw;
    line-height: 30px;
    color: $beige;
  }

  h9 {
    font-family: $vacer-bold;
    font-weight: 200;
    font-size: 26vw;
    line-height: 30px;
    color: $beige;
  }

  h12 {
    font-family: $lato-bold;
    font-weight: 200;
    font-size: 7vw;
    line-height: 30px;
    text-transform: uppercase;
    color: $black;
  }

  h13 {
    font-family: $lato-bold;
    font-weight: 200;
    font-size: 7vw;
    line-height: 30px;
    text-transform: uppercase;
    color: $black;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }

  h15 {
    font-family: $lato-bold;
    font-weight: 200;
    font-size: 7vw;
    line-height: 30px;
    text-transform: uppercase;
    color: $beige;
    border-bottom: 1px solid $beige;
    padding-bottom: 20px;
  }

  .tagline {
    font-family: $myriad-pro;
    font-weight: 300;
    font-size: 1.250em;
    line-height: 34px;
    color: $white;
  }

  .intro-message > h1 {
    font-size: 3em;
    font-family: $montserrat;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }


  /* Tags show blade */
  .tag--centre {
    text-decoration: none;
  }

  .alert-notify {
    font-family: $montserrat;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: $black;
    text-transform: capitalize !important;
    padding: 0;
    margin: 0;
  }

  /* Column Container & Newsletter Container Typography */
  .social--text {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 0.938em;
    font-style: italic;
    line-height: 23px;
    color: white;
    text-transform: none;
    padding-top: 10px;
 }

  .news--heading {
    font-family: $montserrat-bold;
    font-weight: 700;
    font-size: 1.625em;
    line-height: 36px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
  }


  .lorem--text {
    font-family: $montserrat;
    font-size: 1.125em;
    font-style: italic;
    line-height: 27px;
    color: #808080;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    width: 100%;
    text-transform: none;
  }

  .box--name {
    font-family: $montserrat-bold;
    font-weight: 300;
    font-size: 4.5vw;
    line-height: 21px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;
  }

  .box--title {
    font-family: $georgia;
    font-size: 4vw;
    line-height: 34px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
  }

  .blog--title {
    font-family: $montserrat;
    font-size: 5vw;
    line-height: 47px;
    font-weight: 900;
    text-transform: capitalize;
    color: $black;
  }

  .project-links {
    font-family: $montserrat;
    font-weight: 300;
    font-size: 1em;
    line-height: 30px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .twitter a {
    text-decoration: none;
  }


  /* Portfolio section showcase */
  .section--heading {
    font-family: $montserrat-bold;
    font-weight: 500;
    font-size: 1.875em;
    line-height: 41px;
    color: black;
    margin-bottom: 30px;
  }

  .section--title {
    font-family: $montserrat-bold;
    font-weight: 400;
    font-size: 1em;
    line-height: 28px;
    color: $black;
  }

  .section--body {
    font-family: $montserrat;
    font-weight: 300;
    font-size: 1em;
    line-height: 24px;
    color: black;
  }


  p.copyright {
    font-family: $source-light;
    font-size: 14px;
    line-height: 29px;
    color: #949494;
  }

  label {
    font-family: $montserrat-bold;
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
  }


  .riz {
    font-family: $source-pro;
    font-size: 12px;
    line-height: 28px;
    color: #949494;
    padding-left: 25px;
    padding-right: 25px;
  }

  .art {
    font-family: $source-pro;
    font-size: 12px;
    line-height: 28px;
    color: #949494;
    padding-left: 60px;
  }

  .blog--excerpt {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 3vw;
    line-height: 32px;
    text-transform: none;
    color: $black;
    margin: 0;
    padding-bottom: 10px;
  }

}







