@font-face {
  font-family: 'FiraSans';
  src: url('/fonts/FiraSans-LightItalic.otf');
  src: url('/fonts/FiraSans-Regular.otf');
  src: url('/fonts/FiraSans-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
  src: url('/fonts/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.ttf');
  src: url('/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('/fonts/arial.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia Italic';
  src: url('/fonts/georgia-italic.ttf');
  font-weight: normal;
  font-style: normal;
}


$fira-sans: 'FiraSansSemiBold', 'Helvetica Normal', 'Arial', sans-serif;
$lato: 'Lato Regular', 'Helvetica Normal', 'Arial', sans-serif;
$lato-bold: "Lato Bold",  'Helvetica Normal', 'Arial', sans-serif;
$montserrat: 'Montserrat Regular',  'Helvetica Normal', 'Arial', sans-serif;
$montserrat-bold: 'Montserrat Bold',  'Helvetica Normal', 'Arial', sans-serif;
$georgia: "Georgia Italic",  'Helvetica Normal', 'Arial', sans-serif;
$roberto: 'Roboto',  'Helvetica Normal', 'Arial', sans-serif;
$primary-color: #f8f8f8;
$secondary-color: #003434;
$beige: #f9f1dc;
$black: black;
$white: #F8F8F8;

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lato;
  font-weight: 700;
}

h1 {
  font-family: $lato;
  font-weight: 700;
  text-transform: none !important;
  color: $beige;
  font-size: 3em;
  line-height: 45px;
  padding-top: 10px;
  margin: 0;
  }

h2 {
  font-family: $roberto;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 36px;
  text-transform: uppercase;
  color: #f9f1dc;
  margin: 0;
  padding-top: 10px;
}

h3 {
  font-family: $roberto;
  font-weight: 700;
  font-size: 1.17em;
  line-height: 29px;
  color: $beige;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

h4 {
  font-family: $roberto;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 42px;
  text-transform: none !important;
  color:  $beige;
  padding-top: 10px;
  margin: 0;
}

h5 {
  color: #f9f1dc;
  font-family: $roberto;
  font-size: 1em;
  line-height: 25px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: lowercase;
}

h6 {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 0.67em;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-color;
  padding-left: 10px;
}

h5 a {
  font-family: $lato;
  font-weight: 700;
  font-size: 1em;
  line-height: 23px;
  text-transform: capitalize;
  color: #404040;
}

h6 a {
  font-family: $lato-bold;
  font-size: 1.5em;
  line-height: 33px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: 33px;
}

h6 a:hover {
  color: #FF3B3F !important;
  text-decoration: none;
}

h7 a {
  font-family: $lato-bold;
  font-size: 1em;
  text-transform: uppercase;
  color: $black;
  font-weight: 700;

}

a {
  color: #F8F8F8;
  }

a:hover {
  color: #FF3B3F;
  text-decoration: underline;
}

a:active {
  color: whitesmoke;
}

a:focus {
  color: whitesmoke;
}

p {
  font-family: $roberto;
  font-weight: 600;
  font-size: 1em;
  line-height: 23px;
  color: #F8F8F8;
  text-transform: none !important;
}

.body {
  color:  #f8f8f8;
}


.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
  line-height: 107px;
}

.leader {
  text-align: center;
}

.alert-notify {
  font-family: $roberto;
  font-weight: 900;
  font-size: 1em;
  line-height: 30px;
  color: #F8F8F8;
  text-transform: uppercase !important;
  padding: 0;
  margin: 0;
}

.cook-link {
  font-family: $roberto;
  font-weight: 900;
  font-size: 1em;
  line-height: 30px;
  color: #F8F8F8;
  text-transform: uppercase !important;
  padding: 0;
  margin: 0;
}

.cook-link:hover {
  color: #606060;
}

label {
  color: #f9f1dc !important;
}

/* Tags show blade */
.tag--centre {
  text-decoration: none;
  padding-top: 10px;
}

.side-heading {
  font-family: $georgia;
  font-weight: 700;
  font-size: 0.875em;
  text-transform: capitalize;
  color: $primary-color;
  margin: 0;
  padding: 0;
}




/* Column Container & Newsletter Container Typography */

.column h1 {
  padding-left: 30px;
}

.blog--title {
  font-family: $roberto;
  font-size: 2.188em;
  line-height: 54px;
  font-weight: 900;
  text-transform: capitalize;
  color: #F8F8F8;
}

.blog--excerpt {
  font-family: $roberto;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 32px;
  text-transform: none;
  color: $primary-color;
  margin: 0;
  padding-bottom: 10px;
}

.column-name {
  font-family: $lato-bold;
  font-size: 1.5em;
  text-transform: uppercase;
  color: $secondary-color;
  font-weight: 700;
  line-height: 38px;
  width: 100%;
  //position: relative;
  //bottom: 200px;
  //left: 50px;
 }

.news--heading {
  font-family: $lato-bold;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 51px;
  text-transform: uppercase;
  color: $beige;
  margin: 0;
  padding-left: 20px;
  }

.lorem--text {
  font-family: $georgia;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  color: #606060;
  border: 0;
}

.social--text {
  font-family: $georgia;
  font-weight: 500;
  font-size: 0.938em;
  line-height: 30px;
  font-style: italic;
  color: white;
  text-transform: none;
  padding-top: 10px;
}

.box--line {
  font-family: $roberto;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 21px;
  text-transform: uppercase;
  color: $secondary-color;
  margin: 0;
}

.lower--box-text {
  font-family: $georgia;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 32px;
  text-transform: uppercase;
  color: $secondary-color;
}

.box--underline {
  font-family: $georgia;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 32px;
  text-transform: uppercase;
  color: $secondary-color;
  margin: 0;
}

.project-links {
  font-family: $roberto;
  font-weight: 300;
  font-size: 1em;
  line-height: 30px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.twitter a {
  text-decoration: none;
}

/* Portfolio section showcase */
.section--title {
  font-family: $roberto;
  font-weight: 400;
  font-size: 1em;
  line-height: 30px;
  color: $black;
}

.section--body {
  font-family: $roberto;
  font-weight: 300;
  font-size: 1em;
  line-height: 30px;
  color: black;
  padding-top: 20px;
}

.section-heading h2 {
  font-family: $roberto;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 44px;
  color: black;
}





@media screen and (min-width: 981px) and (max-width: 1381px) {

  .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  .intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
    line-height: 107px;
  }

  .leader {
    text-align: center;
  }

  .body {
    color: #f8f8f8;
  }


  .alert-notify {
    font-family: $roberto;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: #F8F8F8;
    text-transform: uppercase !important;
    padding: 0;
    margin: 0;
  }

  .cook-link {
    font-family: $roberto;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: #F8F8F8;
    text-transform: uppercase !important;
    padding: 0;
    margin: 0;
  }

  .cook-link:hover {
    color: #606060;
  }


  label {
    color: #f9f1dc !important;
  }

  /* Tags show blade */
  .tag--centre {
    text-decoration: none;
    padding-top: 10px;
  }

  .side-heading {
    font-family: $georgia;
    font-weight: 700;
    font-size: 0.875em;
    text-transform: capitalize;
    color: $primary-color;
    margin: 0;
    padding: 0;
  }

  /* Column Container & Newsletter Container Typography */
  .column h1 {
    padding-left: 30px;
  }

  .column-name {
    font-family: $lato-bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 38px;
    width: 100%;
    //position: relative;
    //bottom: 200px;
    //left: 50px;
   }

  .blog--title {
    font-family: $roberto;
    font-size: 2.188em;
    line-height: 54px;
    font-weight: 900;
    text-transform: capitalize;
    color: #F8F8F8;
  }

  .blog--excerpt {
    font-family: $roberto;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 32px;
    text-transform: none;
    color: $primary-color;
    margin: 0;
    padding-bottom: 10px;
  }

  .news--heading {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 2.250em;
    line-height: 51px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
  }

  .lorem--text {
    font-family: $georgia;
    font-size: 1.125em;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    color: #606060;
    border: 0;
  }

  .social--text {
    font-family: $georgia;
    font-weight: 500;
    font-size: 0.938em;
    line-height: 30px;
    font-style: italic;
    color: white;
    text-transform: none;
    padding-top: 10px;
  }

  .box--line {
    font-family: $roberto;
    font-weight: 300;
    font-size: 1em;
    line-height: 21px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;

  }

  .lower--box-text {
    font-family: $georgia;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 32px;
    text-transform: uppercase;
    color: $secondary-color;
  }

  .box--underline {
    font-family: $georgia;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 32px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;

  }

  .project-links {
    font-family: $roberto;
    font-weight: 300;
    font-size: 1em;
    line-height: 30px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

  }




  /* Portfolio section showcase */
  .twitter a {
    text-decoration: none;
  }

  .section-heading h2 {
    font-family: $roberto;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 44px;
    color: black;
  }

  .section--title {
    font-family: $roberto;
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    color: $black;
  }

  .section--body {
    font-family: $roberto;
    font-weight: 300;
    font-size: 1em;
    line-height: 30px;
    color: black;
    padding-top: 20px;
  }

}

@media screen and (min-width: 481px) and (max-width: 980px) {


  .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }

  .intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    line-height: 106px;
  }

  .leader {
    text-align: center;
  }

  .body {
    color:  #f8f8f8;
  }


  .paged-links {
    color: #f9f1dc;
  }

  label {
    color: #f9f1dc !important;
  }

  /* Tags show blade */
  .tag--centre {
    text-decoration: none;
    padding-top: 10px;
  }


  .alert-notify {
    font-family: $roberto;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: #F8F8F8;
    text-transform: uppercase !important;
    padding: 0;
    margin: 0;
  }

  .cook-link {
    font-family: $roberto;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: #F8F8F8;
    text-transform: uppercase !important;
    padding: 0;
    margin: 0;
  }

  .cook-link:hover {
    color: #606060;
  }



  /* Column Container & Newsletter Container Typography */
  .column h1 {
    padding-left: 30px;
  }

 .blog--title {
    font-family: $roberto;
    font-size: 2.188em;
    line-height: 49px;
    font-weight: 900;
    text-transform: capitalize;
    color: #F8F8F8;
 }

 .blog--excerpt {
    font-family: $fira-sans;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 30px;
    text-transform: none;
    color: $primary-color;
    margin: 0;
    padding-bottom: 10px;
 }

 .column-name {
    font-family: $lato-bold;
    font-size: 1.500em;
    line-height: 36px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 33px;
    width: 100%;
    //position: relative;
    //bottom: 200px;
    //left: 50px;
 }

 .news--heading {
    font-family: $lato-bold;
    font-weight: 700;
    font-size: 2.250em;
    line-height: 50px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
 }

 .lorem--text {
    font-family: $georgia;
    font-size: 1.125em;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    color: #606060;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
 }

 .social--text {
    font-family: $georgia;
    font-weight: 500;
    font-size: 0.938em;
    font-style: italic;
    line-height: 27px;
    color: white;
    text-transform: none;
    padding-top: 10px;
 }

 .box--line {
    font-family: $roberto;
    font-weight: 300;
    font-size: 1em;
    line-height: 21px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;

 }

 .lower--box-text {
    font-family: $georgia;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 30px;
    text-transform: uppercase;
    color: $secondary-color;
 }

 .box--underline {
    font-family: $georgia;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 30px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;

 }

 .project-links {
  font-family: $roberto;
  font-weight: 300;
  font-size: 1em;
  line-height: 30px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  .twitter a {
    text-decoration: none;
  }


  /* Portfolio section showcase */
  .section-heading h2 {
    font-family: $lato;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 43px;
    color: black;
  }

  .section--title {
    font-family: $lato;
    font-weight: 400;
    font-size: 1em;
    line-height: 28px;
    color: $black;
  }

  .section--body {
    font-family: $roberto;
    font-weight: 300;
    font-size: 1em;
    line-height: 28px;
    color: black;
    padding-top: 20px;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {


  .intro-message > h1 {
    font-size: 3em;
    font-family: $montserrat;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  h6 a {
    font-family: $montserrat;
    font-size: 1.5em;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    line-height: 33px;
  }


   /* Tags show blade */
  .tag--centre {
    text-decoration: none;
  }

  .alert-notify {
    font-family: $montserrat;
    font-weight: 900;
    font-size: 1em;
    line-height: 30px;
    color: #F8F8F8;
    text-transform: uppercase !important;
    padding: 0;
    margin: 0;
  }

  /* Column Container & Newsletter Container Typography */
  .social--text {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 0.938em;
    font-style: italic;
    line-height: 23px;
    color: white;
    text-transform: none;
    padding-top: 10px;
 }

 .news--heading {
    font-family: $montserrat-bold;
    font-weight: 700;
    font-size: 1.625em;
    line-height: 36px;
    text-transform: uppercase;
    color: $beige;
    margin: 0;
    padding-left: 20px;
 }


 .lorem--text {
    font-family: $montserrat;
    font-size: 1.125em;
    font-style: italic;
    line-height: 27px;
    color: #606060;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    width: 100%;
 }

 .box--line {
    font-family: $montserrat-bold;
    font-weight: 300;
    font-size: 1em;
    line-height: 21px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 0;
 }

 .column-name {
    font-family: $montserrat-bold;
    font-size: 1.500em;
    line-height: 34px;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
 }

 .blog--title {
    font-family: $montserrat;
    font-size: 2.188em;
    line-height: 47px;
    font-weight: 900;
    text-transform: capitalize;
    color: #F8F8F8;
 }

  .project-links {
    font-family: $montserrat;
    font-weight: 300;
    font-size: 1em;
    line-height: 30px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .twitter a {
    text-decoration: none;
  }


  /* Portfolio section showcase */
  .section--heading {
    font-family: $montserrat-bold;
    font-weight: 500;
    font-size: 1.875em;
    line-height: 41px;
    color: black;
    margin-bottom: 30px;
  }

  .section--title {
    font-family: $montserrat-bold;
    font-weight: 400;
    font-size: 1em;
    line-height: 28px;
    color: $black;
  }

  .section--body {
    font-family: $montserrat;
    font-weight: 300;
    font-size: 1em;
    line-height: 24px;
    color: black;
  }




}







