

.form-page {
  background-color: #003434;
  padding-top: 100px;
  padding-bottom: 100px;
}

.sign-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.register-fluid {
  min-height: 900px;
  overflow-y: hidden; /* don't show content that exceeds my height */
  padding-top: 50px;
  padding-bottom: 20px;
  width: 40%;
  background-color: white;
  box-shadow: 0 8px 6px -6px white;
  flex: 0 1 60%;
}

.login-fluid {
  min-height: 600px;
  overflow-y: hidden; /* don't show content that exceeds my height */
  padding-top: 50px;
  width: 40%;
  background-color: white;
  box-shadow: 0 8px 6px -6px white;
  flex: 0 1 60%;
}

.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 100px;
}

.bordered-logo {
  border: 1px solid white;
}

.control-label {
  padding: 0;
  margin: 0;
  font-family: "Lato Regular", sans-serif;
  color: #606060;
  font-size: 17px;
  text-transform: uppercase;
}

.form-group {
  width: 100%;
  padding-left: 15px;
  padding-bottom: 20px;
  margin: 0;
}

.form-control {
  background-color: #F8F8F8;
}

.input-append  {
  width: 500px;
}

label {
  color: black;
}

@media screen and (min-width: 981px) and (max-width: 1381px) { }

@media screen and (min-width: 481px) and (max-width: 980px) { }

@media all and (min-width: 100px) and (max-width: 480px) {



  .form-page {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .sign-container {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .login-fluid {
    //padding-left: 20px;
    min-height: 600px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: none;
    width: 100%;

  }

  .register-fluid {
    min-height: 900px;
    overflow: hidden;
    padding-left: 20px;
    margin: 0;
    background: none;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .form-group {
    width: 80%;
    padding-left: 15px;
    padding-bottom: 10px;
    margin: 0;
  }

  .input-append {
    width: 100%;
  }
}

















