.section {
  background: #003434;
  padding: 0;
}

.has-columns {
  column-count: 3;
  column-rule: 1px solid #e3e3e3;
  column-gap: 200px;
  text-align: center;
}

.letter-group {
  margin: 2em 0 4em;
}

.letter-group:first-child {
  margin-top: 0;
}

.letter-group:last-child {
  margin-bottom: 0;
}

.letter-group .letter {
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
}

.title {
  color: white;
}
.title a {
  color: #f9f1dc;
}

.subtitle {
  color: white;
}


@media(max-width:767px) {

  .section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .has-columns {
    column-count: 0;
    column-gap: 0;
    column-count: 1;

  }

  .title {
    color: white;
  }
  .title a {
    color: #f9f1dc;
  }

  .subtitle {
    color: white;
  }


}