.has-columns {
  column-count: 3;
  column-rule: 1px solid #e3e3e3;
  column-gap: 70px;
  text-align: center;
}

.letter-group {
  margin: 2em 0 4em;
}


.letter-group:first-child {
  margin-top: 0;
}


.letter-group:last-child {
  margin-bottom: 0;
}

.letter-group .letter {
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
}

.title {
  color: white;
}
.title a {
  color: black;
}
.subtitle {
  color: white;
}