

.form-page {
  background-color: #003434;
  padding-top: 100px;
}

.register-fluid {
  min-height: 900px;
  overflow: hidden;
  padding: 20px;
  margin: 0;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 8px 6px -6px white;
  flex: 0 0 60%;
}

.login-fluid {
  min-height: 700px;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 8px 6px -6px white;
  flex: 0 0 60%;
}

.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 20px;
}

.header {
  min-height: 100px;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.bordered-logo {
  border: 1px solid white;
}

.control-label {
  padding: 0;
  margin: 0;
  font-family: "Lato Regular", sans-serif;
  color: #606060 !important;
  font-size: 17px;
  text-transform: uppercase;
}

.form-group {
  width: 100%;
  padding-left: 15px;
  padding-bottom: 20px;
  margin: 0;
}

.form-control {
  background-color: #F8F8F8;
}

.input-append  {
  width: 500px;
}

label {
  color: black !important;
}

.row {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin-right: -25px;
  margin-left: -30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 981px) and (max-width: 1381px) {

  .form-page {
    background-color: #003434;
    padding-top: 100px;
  }

  .register-fluid {
    min-height: 900px;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 6px -6px white;
    flex: 0 0 60%;
  }

  .login-fluid {
    min-height: 700px;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 6px -6px white;
    flex: 0 0 60%;
  }

  .logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .header {
    min-height: 100px;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }

  .bordered-logo {
    border: 1px solid white;
  }

  .control-label {
    padding: 0;
    margin: 0;
    font-family: "Lato Regular", sans-serif;
    color: #606060 !important;
    font-size: 17px;
    text-transform: uppercase;
  }

  .form-group {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 20px;
    margin: 0;
  }

  .form-control {
    background-color: #F8F8F8;
  }

  .input-append  {
    width: 500px;
  }

  label {
    color: black !important;
  }

  .row {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin-right: -25px;
    margin-left: -30px;
    margin-bottom: 20px;
  }

}

@media screen and (min-width: 481px) and (max-width: 980px) {

  .form-page {
    background-color: #003434;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .register-fluid {
    min-height: 900px;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 6px -6px white;
    flex: 1 0 60%;
  }

  .login-fluid {
    min-height: 700px;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 6px -6px white;
    flex: 1 0 60%;
  }

  .logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .header {
    min-height: 100px;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }

  .bordered-logo {
    border: 1px solid white;
  }

  .control-label {
    padding: 0;
    margin: 0;
    font-family: "Lato Regular", sans-serif;
    color: #606060 !important;
    font-size: 17px;
    text-transform: uppercase;
  }

  .form-group {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 20px;
    margin: 0;
  }

  .form-control {
    background-color: #F8F8F8;
  }

  .input-append  {
    width: 500px;
  }

  label {
    color: black !important;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {

  .form-page {
    background-color: #F8F8F8;
    padding: 0 !important;
    margin: 0;
    max-width: 100%;
  }

  .register-fluid {
    min-height: 900px;
    margin: 0 !important;
    padding: 20px;
    overflow: visible;
    background: none;
    display: flex;
    flex-direction: column !important;
    flex: 0 0 100% !important;
  }

  .login-fluid {
    min-height: 600px;
    padding: 20px;
    margin: 0;
    background: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;

  }

  .header {
    width: 100%;
  }

  .logo-container {
    width: 100%;
  }

  .header {
    min-height: 100px;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }


  .input-append {
    width: 100%;
  }

  .form-group {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 20px;
    margin: 0;
  }

  .row {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-content: center !important;
    justify-content: center !important;
  }


}

















