/* index */

.charge-container {
  height: 1500px;
  width: 100%;
  background-color: #bbbbbb;
  display: flex;
}

.featured {
  display: flex;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.column-container {
  height: 1400px;
  width: 300%;
  background-color: #DFDAC7;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}

.charge {
  height: 400px;
  border: 2px solid white;
  width: 300px;
  margin: 10px;
}

.description {
  height: 50px;
  border: 2px solid white;
  background-color: white;
  width: 250px;
  position: relative;
  bottom: 360px;
  left: 20px;
  border-radius: 5px;
}

.price-container {
  height: 50px;
  border: 2px solid white;
  background-color: white;
  width: 200px;
  position: relative;
  bottom: 120px;
  left: 40px;
  border-radius: 5px;
}

.offers {
  height: 1400px;
  width: 100%;
  border: 1px solid white;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #b4b4b4;
}

.deal {
  height: 200px;
  width: 100%;
  margin-bottom: 80px;
}

.product-img {
  height: 396px;
  width: 100%;
}

/* show */
.product-container {
  height: 1300px;
  width: 100%;
  background-color: #bbbbbb;
  display: flex;
}

.single-container {
  height: 1300px;
  width: 100%;
  margin-top: 30px;
  display: flex;
}

.left-side {
  background-color: #bbbbbb;
  min-height: 1200px;
  min-width: 65%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.right-side {
  min-height: 1200px;
  min-width: 50%;
  padding: 0 !important;
  background-color: #bbbbbb;
  display: flex;
  flex-direction: column;
  flex: 0 0 0;
}

.detail {
  padding-top: 50px;
}

.featured-list {
  height: 200px;
  width: 70.7%;
  padding-left: 40px;
  padding-top: 20px;
}

.apple-pay {
  height: 100px;
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e0e0e0;
}


.notification {
  height: 100px;
  width: 90%;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: #e0e0e0;
}

.list {
  list-style-type: circle;
}

.panel-default {
  background-color: #bbbbbb;
  border: none;
}

.panel-default > .panel-heading {
  background-color: #bbbbbb !important;
  border: none !important;
}



hr {
  border-top: black !important;
}


/* Thanks */

.courtesy-container {
  background-color: #003434;
  display: flex;
  align-content: center;
  justify-content: center;
}


@media screen and (min-width: 981px) and (max-width: 1381px) {

  /* index */

  .charge-container {
    height: 1500px;
    width: 100%;
    background-color: #bbbbbb;
    display: flex;
  }

  .featured {
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .column-container {
    height: 1400px;
    width: 300%;
    background-color: #DFDAC7;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
  }

  .charge {
    height: 400px;
    border: 2px solid white;
    width: 300px;
    margin: 10px;
  }

  .description {
    height: 50px;
    border: 2px solid white;
    background-color: white;
    width: 250px;
    position: relative;
    bottom: 360px;
    left: 20px;
    border-radius: 5px;
  }

  .price-container {
    height: 50px;
    border: 2px solid white;
    background-color: white;
    width: 200px;
    position: relative;
    bottom: 120px;
    left: 40px;
    border-radius: 5px;
  }

  .offers {
    height: 1400px;
    width: 100%;
    border: 1px solid white;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #b4b4b4;
  }

  .deal {
    height: 200px;
    width: 100%;
    margin-bottom: 80px;
  }

  .product-img {
    height: 396px;
    width: 100%;
  }

  /* show */

  .product-container {
    height: 1300px;
    width: 100%;
    background-color: #bbbbbb;
    display: flex;
  }

  .single-container {
    height: 1300px;
    width: 100%;
    margin-top: 30px;
    display: flex;
  }

  .left-side {
    background-color: #bbbbbb;
    min-height: 1200px;
    min-width: 65%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .right-side {
    min-height: 1200px;
    min-width: 50%;
    padding: 0 !important;
    background-color: #bbbbbb;
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
  }

  .detail {
    padding-top: 50px;
  }

  .featured-list {
    height: 200px;
    width: 70.7%;
    padding-left: 40px;
    padding-top: 20px;
  }

  .apple-pay {
    height: 100px;
    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e0e0e0;
  }

  .notification {
    height: 100px;
    width: 90%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: #e0e0e0;
  }


  .list {
    list-style-type: circle;
  }

  .panel-default {
    background-color: #bbbbbb;
    border: none;
  }

  .panel-default > .panel-heading {
    background-color: #bbbbbb !important;
    border: none !important;
  }

  .panel-heading {
    //border-top: beige;
  }

  hr {
    border-top: black !important;
  }


  /* Thanks */

  .courtesy-container {
    background-color: #003434;
    display: flex;
    align-content: center;
    justify-content: center;
  }


}

@media screen and (min-width: 481px) and (max-width: 980px) {

  .charge-container {
    height: 4000px;
    width: 100%;
    background-color: #bbbbbb;
    display: flex;
    //flex-wrap: wrap;
  }

  .featured {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .column-container {
    height: 2700px;
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
    background-color: #DFDAC7;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
  }

  .offers {
    height: 800px;
    width: 85%;
    border: 1px solid white;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #b4b4b4;
  }

  /* show */

  .product-container {
    height: 1600px;
    width: 100%;
    background-color: #bbbbbb;
    display: flex;
  }

  .single-container {
    height: 1400px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .left-side {
    background-color: #bbbbbb;
    min-height: 700px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 100%;
  }

  .right-side {
    min-height: 1200px;
    background-color: #bbbbbb;
    min-height: 700px;
    padding-left: 70px !important;
    flex: 1 0 50%;
  }

  .detail {
    padding-top: 50px;
  }

  .featured-list {
    height: 200px;
    width: 50%;
    padding-left: 40px;
    padding-top: 20px;
  }

  .apple-pay {
    height: 100px;
    width: 50%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e0e0e0;
  }

  .notification {
    height: 100px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e0e0e0;
  }

  .panel-group {
    width: 50%;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {

/* index */
  .charge-container {
    height: 3000px;
    width: 100%;
    background-color: #bbbbbb;
    display: flex;
    flex-direction: column;
  }

  .column-container {
    height: 2600px;
    width: 100%;
    background-color: #DFDAC7;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .featured {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
  }

  .description {
    height: 50px;
    border: 2px solid white;
    background-color: white;
    width: 200px;
    position: relative;
    bottom: 360px;
    left: 20px;
    border-radius: 5px;
  }

  .price-container {
    height: 50px;
    border: 2px solid white;
    background-color: white;
    width: 200px;
    position: relative;
    bottom: 120px;
    left: 20px;
    border-radius: 5px;
  }

  .offers {
    display: none;
  }

  /* show */
  .product-container {
    height: 2026px;
    width: 100%;
    background-color: #bbbbbb;
    display: flex;
    flex-direction: column;
  }

  .single-container {
    height: 1000px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

  }

  .left-side {
    background-color: #bbbbbb;
    min-height: 900px;
    padding-top: 20px;
    padding-right: 20px;
    flex: 1 0 100%;
  }

  .right-side {
    min-height: 500px;
    background-color: #bbbbbb;
    margin: 0;
    padding: 0;
    flex: 1 0 100%;
  }

  .detail {
   padding-left: 60px;
    margin: 0;
  }

  .charge {
    height: 400px;
    border: 2px solid white;
    width: 90%;
    margin: 10px;
  }

  .apple-pay {
    height: 100px;
    width: 390px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e0e0e0;
  }

  .notification {
    height: 100px;
    width: 390px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e0e0e0;
  }

  .panel-group {
    width: 80%;
  }



}