
.central-container {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 500px;
    width: 100%;
    background-color: white;
    display: flex;

  }

.greetings-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  

.sofa-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  




.defense-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  

.detext-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  



.test-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    min-height: 370px;
    width: 100%;
    background-color:#f0955f;
    display: flex;
  }


.colleague-container {
    height: 30%;
    width: 30%;
    background-color: #f0955f;
    padding-left: 20px;

}  


.writing-container {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
    background-color: #f0955f;

}





