
.central-container {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
}

.greetings-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  

.sofa-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  


.defense-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  

.detext-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  



.test-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    min-height: 370px;
    width: 100%;
    background-color:#f0955f;
    display: flex;
  }


.colleague-container {
    height: 30%;
    width: 30%;
    background-color: #f0955f;
    padding-left: 20px;
}  


.writing-container {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
    background-color: #f0955f;
}








@media all and (min-width: 100px) and (max-width: 480px) { 

    .central-container {
        flex-direction: column !important;
        align-items: center;
        justify-items: center;
        padding: 0;
        margin: 0;
        min-height: 500px;
        width: 100%;
        background-color: white;
        display: flex;
    }    


    .test-container {
        flex-direction: column !important;
        align-items: center;
        justify-items: center;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        min-height: 370px;
        width: 100%;
        background-color:#f0955f;
    }
    

    .writing-container {
        height: 100%;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        background-color: #f0955f;
    }    
}