@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('/fonts/SourceSansPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('/fonts/SourceSansPro-Light.otf');
  font-weight: normal;
  font-style: normal;
}

$source-pro: 'Source Sans Pro Regular';
$source-light: 'Source Sans Pro Light';



footer {
  min-height: 400px;
  background-color: #3c3c3c !important;
  width: 100%;
  padding: 20px 0;
}

/* Logo section */
.footer-logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer-border {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0;
}


/* Footer Showcase */
.footer-three {
  padding-top: 100px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}


.footer-engage {
  width: 33%;
  height: 600px;
  padding-right: 20px;
  padding-top: 40px;
}


.footer-copy {
  min-height: 300px;
  width: 33%;
}

.footer-links {
  min-height: 300px;
  width: 33%;
}

.icon-social {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
  padding-top: 20px;
}

.even-spacing {
  padding-top: 5px;
  padding-bottom: 5px;
}


.footer-navigation {
  padding-left: 5px;
  padding-top: 20px;
}

.foot-links {
  font-family: "Source Sans Pro Regular";
  font-size: 14px;
  color: #FFFFFF;
  padding: 20px 15px;
}

.foot-links:hover {
  color:  #8f5c3a;
}

.footer-bottom {
  height: 200px;
  width: 100%;
  border-top-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-responsive {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.copyright {
  padding-top: 100px;
}

#mc_embed_signup {
  background: #3c3c3c !important;
  clear: left;
  font: 14px "Lato Bold", sans-serif !important;
  width: 100% !important;
}

#mc_embed_signup input.email {
  background-color: #3c3c3c !important;
  color: #f9f1dc !important;
}

#mc_embed_signup input.email {
  font-family: "Lato Bold", sans-serif !important;
  font-size: 15px;
  border: 1px solid #ABB0B2;
  border-radius: 3px;
  color: #3c3c3c;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width: 250px !important;
  vertical-align: top;
  background-color: #3c3c3c !important;
  color: #f9f1dc !important;
  text-transform: capitalize;
}

#mc_embed_signup_scroll {
  width: 400px;
}


#mc-embedded-subscribe {
  width: 100%;
  margin: 0;
  background-color: #CA3422!important;
  color: white;
}




@media screen and (min-width: 981px) and (max-width: 1381px) {

  footer {
    min-height: 400px;
    background-color: #3c3c3c !important;
    width: 100%;
    padding: 20px 0;
  }

  .footer-logo {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footer-border {
    border: 1px solid #f9f1dc;
  }

  .foot-links {
    font-family: "Source Sans Pro Regular";
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px 15px;
  }

  .foot-links:hover {
    color:  #8f5c3a;
  }

  .footer-three {
    padding-top: 100px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
  }

  .footer-engage {
    width: 33%;
    height: 600px;
    padding-right: 20px;
    padding-top: 40px;
  }

  .footer-copy {
    min-height: 300px;
    width: 33%;
  }

  .footer-links {
    min-height: 300px;
    width: 33%;
  }

  .icon-social {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
    padding-top: 20px;
  }

  .even-spacing {
    padding-top: 5px;
    padding-bottom: 5px;
  }


  .footer-navigation {
    padding-left: 5px;
    padding-top: 20px;
  }

  .img-responsive {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .footer-bottom {
    height: 200px;
    width: 100%;
    border-top-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    padding-top: 50px;
  }

  #mc_embed_signup {
    background: #3c3c3c !important;
    clear: left;
    font: 14px "Lato Bold", sans-serif;
    width: 100% !important;
  }

  #mc_embed_signup input.email {
    background-color: #3c3c3c !important;
    color: #f9f1dc !important;
  }

  #mc_embed_signup .button {
    width: 100%;
    margin: 0;
    background: #F0955F !important;
  }

  #mc_embed_signup .button:hover {
    background: #CA3422 !important;
  }


  #mc_embed_signup_scroll {
    width: 400px;
  }

  
  #mc-embedded-subscribe {
    width: 100%;
    margin: 0;
    background-color: #CA3422 !important;
    color: white;
  }


  

}

@media screen and (min-width: 481px) and (max-width: 980px) {

  footer {
    min-height: 1000px;
    background-color: #3c3c3c;
    width: 100%;
    padding: 20px 0;
  }

  .footer-logo {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footer-border {
    border: 1px solid #f9f1dc;
  }

  .foot-links {
    font-family: "Source Sans Pro Regular";
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px 15px;
    border: none;
  }

  .foot-links:hover {
    color:  #8f5c3a;
  }

  .footer-three {
    min-height: 1200px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }


  .footer-engage {
    width: 100%;
    height: 700px;
    padding-right: 20px;
    padding-top: 40px;
  }

  .footer-copy {
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer-links {
    min-height: 300px;
    min-width: 30%;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-navigation {
    width: 100%;
    height: 200px;
    padding-left: 5px;
    padding-top: 20px;
  }

  .icon-social {
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 10px;
    padding-top: 20px;
  }

  .even-spacing {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .img-responsive {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .footer-bottom {
    height: 200px;
    width: 100%;
    border-top-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    padding-top: 100px;
  }

  #mc_embed_signup {
    background: #3c3c3c !important;
    clear: left;
    font: 14px "Lato Bold", sans-serif;
    width: 100% !important;
    padding-left: 20px;
  }

  #mc_embed_signup_scroll {
    max-width: 47%;
  }

  #mc_embed_signup input.email {
    background-color: #3c3c3c !important;
    color: #f9f1dc !important;
    width: 100% !important;
  }

  #mc_embed_signup .button {
    width: 100%;
    margin: 0;
    background: #F0955F !important;
  }

  #mc_embed_signup .button:hover {
    background: #CA3422 !important;
  }

  #mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 150% !important;
    padding-bottom: 3%;
    min-height: 50px;

  }

  #mc-embedded-subscribe {
    width: 100%;
    margin: 0;
    background-color: #CA3422 !important;
    color: white;
  }
}


@media all and (min-width: 100px) and (max-width: 480px) {


  footer {
    min-height: 1500px;
    background-color: #3c3c3c;
    min-width: 100%;
    padding: 20px 0;
  }

  .footer-logo {
    height: 100px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footer-border {
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
    border: 1px solid #f9f1dc;
  }

  .footer-three {
    min-height: 1400px !important;
    min-width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
  }

  .footer-engage {
    min-width: 100%;
    height: 600px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
  }


  .footer-copy {
    min-height: 200px;
    min-width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column !important;
  }

  .footer-links {
    min-height: 200px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .icon-social {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 10px;
    padding-top: 20px;
  }

  .even-spacing {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .footer-navigation {
    padding-left: 5px;
    padding-top: 20px;
  }

  .foot-links {
    font-family: "Source Sans Pro Regular";
    font-size: 14px;
    border: none;
    color: #FFFFFF;
    padding: 20px 15px;
  }

  .foot-links:hover {
    color:  #8f5c3a;
  }


  .footer-bottom {
    height: 200px;
    min-width: 100%;
    border-top-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .icon-social {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 10px;
    padding-top: 20px;
  }

  .even-spacing {
    padding-top: 5px;
    padding-bottom: 5px;
  }


  .copyright {
    padding-top: 100px;
  }


  .mc-embedded-subscribe_signup {
    width: 100%;
    margin: 0;
    background-color: #f0955f!important;
    color: white;
  }


  #mc_embed_signup {
    background: #3c3c3c !important;
    clear: left;
    font: 14px "Lato Bold", sans-serif;
    width: 100% !important;
    padding-left: 20px;
  }

  #mc_embed_signup_scroll {
    max-width: 47%;
    padding: 0 !important;
    margin: 0 !important;
  }

  #mc_embed_signup input.email {
    background-color: #3c3c3c !important;
    color: #f9f1dc !important;
    width: 100% !important;
  }


  #mc-embedded-subscribe {
    width: 100%;
    margin: 0;
    background-color: #CA3422 !important;
    color: white;
  }

 

}

