@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('/fonts/SourceSansPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('/fonts/SourceSansPro-Light.otf');
  font-weight: normal;
  font-style: normal;
}

$source-pro: 'Source Sans Pro Regular';
$source-light: 'Source Sans Pro Light';



footer {
  min-height: 400px;
  background-color: #3c3c3c !important;
  width: 100%;
  padding: 20px 0;
}

.footer-logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

.social {
  width: 20%;
}

.footer-border {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0;
}

.footer-navigation ul {
  display: flex;
}

.footer-navigation {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-links {
  font-family: "Source Sans Pro Regular";
  font-size: 14px;
  color: #949494;
  padding: 20px 15px;
}

.foot-links:hover {
  color:  #CA3422;
}

.footer-centre {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-responsive {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@media screen and (min-width: 981px) and (max-width: 1381px) {

  footer {
    min-height: 400px;
    background-color: #3c3c3c !important;
    width: 100%;
    padding: 20px 0;
  }

  .footer-logo {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .social {
    width: 20%;
  }


  .footer-border {
    border: 1px solid #f9f1dc;
  }

  .footer-navigation ul {
    display: flex;
  }

  .footer-navigation {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .foot-links {
    font-family: "Source Sans Pro Regular";
    font-size: 14px;
    color: #949494;
    padding: 20px 15px;
  }

  .foot-links:hover {
    color:  #CA3422;
  }

  .img-responsive {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .footer-centre {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 }

@media screen and (min-width: 481px) and (max-width: 980px) {

  footer {
    height: 350px;
    background-color: #3c3c3c;
    width: 100%;
    padding: 20px 0;
  }

  .footer-logo {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .social {
    width: 20%;
  }

  .footer-border {
    border: 1px solid #f9f1dc;
  }

  .footer-navigation ul {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-navigation {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .foot-links {
    font-family: "Source Sans Pro Regular";
    font-size: 14px;
    color: #949494;
    padding: 20px 15px;
    border: none;
  }

  .foot-links:hover {
    color:  #CA3422;
  }

  .img-responsive {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  p.copyright {
    font-family: $source-light;
    font-size: 14px;
    color: #949494;
  }

  .footer-centre {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (min-width: 100px) and (max-width: 480px) {


  footer {
    height: 500px;
    background-color: #3c3c3c;
    width: 100%;
    padding: 20px 0;
  }

  .footer-logo {
    height: 100px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .social {
    width: 20%;
  }

  .footer-border {
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
    border: 1px solid #f9f1dc;
  }

  .footer-navigation {
    height: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-navigation ul {
    display: flex;
    flex-direction: column;
  }

  .foot-links {
    font-family: "Source Sans Pro Regular";
    font-size: 14px;
    border: none;
    color: #949494;
    padding: 20px 15px;
  }

  .foot-links:hover {
    color:  #CA3422;
  }

  .img-responsive {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .footer-centre {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

