
footer {
  height: 270px;
  background-color: #3c3c3c;
  width: 100%;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer-border {
  border: 1px solid #f9f1dc;
}

.footer-navigation ul {
  display: flex;
}

.footer-navigation {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-links {
  font-family: "Source Sans Pro Regular";
  font-size: 14px;
  color: #949494;
  padding: 20px 15px;
}

.foot-links:hover {
  color: #ada074;
  text-decoration: none;
}

.img-responsive {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@media screen and (min-width: 981px) and (max-width: 1381px) {

  footer {
    height: 270px;
    background-color: #3c3c3c;
    width: 100%;
    padding: 20px 0;
  }

  .footer-container {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footer-border {
    border: 1px solid #f9f1dc;
  }

  .footer-navigation ul {
    display: flex;
  }

  .footer-navigation {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .foot-links {
    font-family: "Source Sans Pro Regular";
    font-size: 14px;
    color: #949494;
    padding: 20px 15px;
  }

  .foot-links:hover {
    color: #ada074;
    text-decoration: none;
  }

  .img-responsive {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

 }

@media screen and (min-width: 481px) and (max-width: 980px) {

  footer {
    padding: 20px 0 !important;
    background-color: #003434;
  }


  .middle-logo {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .foot-links {
    color: #F9F1DC;
    font-family: $fira-sans;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .foot-links:hover {
    color: #F9F1DC;
    text-decoration: none;
    border-bottom: 2px solid #F9F1DC;
  }

  p.copyright {
    color: #F9F1DC;
    font-family: $fira-sans;
    font-size: 12px;
    margin: 15px 0 0;

  }

  .disabled-link {
    pointer-events: none;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {


  footer {
    padding: 20px 0 !important;
    background-color: #003434;
    display: flex;
    flex-direction: column;
  }

  .alert-container {
    min-height: 20px;
    width: 100%;
  }

  .middle-logo {
    display: flex;
    flex-wrap: wrap;
  }

  .foot-links {
    color: #F9F1DC;
    font-family: $fira-sans;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    flex-wrap: wrap;
  }

  .foot-links:hover {
    color: #F9F1DC;
    text-decoration: none;
    border-bottom: 2px solid #F9F1DC;
  }

  p.copyright {
    color: #F9F1DC;
    font-family: $fira-sans;
    font-size: 12px;
    margin: 15px 0 0;

  }

  .disabled-link {
    pointer-events: none;
  }
}

