
$beige: #f9f1dc;
$black: #000000;


.hero-container {
  width: 100vw;
  min-height: 750px;
  overflow: hidden;
  background-color: #003434;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}





span.underlined {
  border-bottom: 1px solid $beige;
}

.jump-to-about {
  padding-top: 100px;
}

.read-container {
  padding-top: 100px;
}

.about-container {
  min-height: 750px;
  width: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


.about-heading {
  padding-top: 70px;
}

.who-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding-top: 50px;
}

.monitor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0 50px;
  width: 300px;
}

.gear-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0 50px;
  width: 300px;
}

.free-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0 50px;
  width: 300px;
}

.title-container {
  padding-top: 50px;
}

.text-container {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

span {
  text-indent: -1.5em;
}

.green-container {
  background-color: #003434;
  height: 100px;
  width: 100%;
}

.portfolio-container {
  height: 1150px;
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.projects-container {
  height: 700px;
  width: 80%;
  padding-left: 50px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.column-1 {
  height: 200px;
  width: 30%;
  margin-right: 15px;
}

.column-2 {
  height: 200px;
  width: 30%;
  margin-right: 15px;
}

.column-3 {
  height: 200px;
  width: 30%;

}

.column-4 {
  height: 450px;
  width: 30%;
  margin-right: 15px;
}

.column-5 {
  height: 200px;
  width: 30%;
  background-color: #eaeaea;
}

.column-6 {
  height: 450px;
  width: 30%;
  background-color: #ececec;
  margin-left: 15px;
}


.grey-container {
  padding-top: 150px;
  height: 390px;
  width: 100%;
  background-color: #444444;
}

.contact-container {
  height: 900px;
  width: 100%;
  background-color: #003434;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.message-container {
  height: 600px;
  width: 70%;
  margin-top: 40px;
}

.named-container {
  display: flex;
}

.form {
  width: 200px;
  margin-right: 20px;
}

.control {
  display: flex;
  width: 200px;
}

.form-control {
  width: 45%;
}

.description-container {
  padding-top: 100px;
}

.complete-container {
  display: flex;
}

textarea.form-control {
  width: 420px;

}

.mail-container {
  padding-left: 80px;
  padding-top: 120px;
}


@media screen and (min-width: 981px) and (max-width: 1381px) {


  .hero-container {
    width: 100vw;
    min-height: 750px;
    background-color: #003434;
    overflow: hidden;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }





  span.underlined {
    border-bottom: 1px solid $beige;
  }

  .jump-to-about {
    padding-top: 100px;
  }

  .read-container {
    padding-top: 100px;
  }

  .about-container {
    width: 100%;
    min-height: 750px;
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .about-heading {
    padding-top: 70px;
  }

  .who-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
  }

  .monitor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .gear-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .free-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .title-container {
    padding-top: 50px;
  }

  .text-container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  span {
    text-indent: -1.5em;
  }

  .green-container {
    background-color: #003434;
    height: 100px;
    width: 100%;
  }

  .portfolio-container {
    height: 1150px;
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .projects-container {
    height: 700px;
    width: 80%;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .column-1 {
    height: 200px;
    width: 30%;
    margin-right: 15px;
  }

  .column-2 {
    height: 200px;
    width: 30%;
    margin-right: 15px;
  }

  .column-3 {
    height: 200px;
    width: 30%;

  }

  .column-4 {
    height: 450px;
    width: 30%;
    margin-right: 15px;
  }

  .column-5 {
    height: 200px;
    width: 30%;
    background-color: #eaeaea;
  }

  .column-6 {
    height: 450px;
    width: 30%;
    background-color: #ececec;
    margin-left: 15px;
  }

  .grey-container {
    padding-top: 150px;
    height: 390px;
    width: 100%;
    background-color: #444444;
  }

  .contact-container {
    height: 900px;
    width: 100%;
    background-color: #003434;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .message-container {
    height: 600px;
    width: 70%;
    margin-top: 40px;
  }

  .named-container {
    display: flex;
  }

  .form {
    width: 200px;
    margin-right: 20px;
  }

  .control {
    display: flex;
    width: 200px;
  }

  .form-control {
    width: 45%;
  }

  .description-container {
    padding-top: 100px;
  }

  .complete-container {
    display: flex;
  }

  textarea.form-control {
    width: 420px;
  }

  .mail-container {
    padding-left: 80px;
    padding-top: 120px;
  }

  .send-container {
    padding-top: 150px;
  }

}


@media screen and (min-width: 481px) and (max-width: 980px) {

  .hero-container {
    width: 100vw;
    min-height: 750px;
    background-color: #003434;
    overflow: hidden;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }



  span.underlined {
    border-bottom: 1px solid $beige;
  }

  .jump-to-about {
    padding-top: 100px;
  }

  .read-container {
    padding-top: 150px;
  }

  .about-container {
    min-height: 1000px;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .about-heading {
    padding-top: 70px;
  }

  .who-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
  }

  .monitor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .gear-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .free-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .title-container {
    padding-top: 50px;
  }

  .text-container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  span {
    text-indent: -1.5em;
  }

  .green-container {
    background-color: #003434;
    height: 100px;
    width: 100%;
  }

  .portfolio-container {
    height: 1150px;
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .projects-container {
    height: 700px;
    width: 80%;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .column-1 {
    height: 200px;
    width: 30%;
    margin-right: 15px;
  }

  .column-2 {
    height: 200px;
    width: 30%;
    margin-right: 15px;
  }

  .column-3 {
    height: 200px;
    width: 30%;

  }

  .column-4 {
    height: 450px;
    width: 30%;
    margin-right: 15px;
  }

  .column-5 {
    height: 200px;
    width: 30%;
    background-color: #eaeaea;
  }

  .column-6 {
    height: 450px;
    width: 30%;
    background-color: #ececec;
    margin-left: 15px;
  }

  .grey-container {
    padding-top: 150px;
    height: 390px;
    width: 100%;
    background-color: #444444;
  }

  .contact-container {
    height: 900px;
    width: 100%;
    background-color: #003434;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .message-container {
    min-height: 600px;
    width: 70%;
    margin-top: 40px;
  }

  .named-container {
    display: flex;
    flex-wrap: wrap;
  }

  .complete-container {
    display: flex;
    flex-wrap: wrap;
  }

  .mail-container {
    margin: 0;
    padding-top: 20px;
  }

  .description-container {
    padding-top: 50px;
  }

  .read-container {
    padding-top: 100px;
  }

  .form {
    width: 200px;
    margin-right: 20px;
  }

  .control {
    display: flex;
    width: 200px;
  }

  .form-control {
    width: 45%;
  }

  textarea.form-control {
    width: 420px;
  }

  .send-container {
    margin: 0;
    padding-top: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {

  .hero-container {
    width: 100vw;
    height: 100vh;
    background-color: #003434;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  span.underlined {
    border-bottom: 1px solid $beige;
  }

  .jump-to-about {
    padding-top: 100px;
  }

  .read-container {
    padding-top: 150px;
  }

  .about-container {
    min-height: 1800px;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .about-heading {
    padding-top: 70px;
  }

  .who-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
  }

  .monitor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .gear-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .free-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    width: 300px;
  }

  .title-container {
    padding-top: 50px;
  }

  .text-container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  span {
    text-indent: -1.5em;
  }

  .green-container {
    background-color: #003434;
    height: 100px;
    width: 100%;
  }

  .portfolio-container {
    min-height: 2000px;
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .projects-container {
    min-height: 1600px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .column-1 {
    min-height: 200px;
    width: 100%;
    padding-top: 20px;
    margin: 0;
  }

  .column-2 {
    min-height: 200px;
    width: 100%;
    padding-top: 20px;
    margin: 0;
  }

  .column-3 {
    min-height: 200px;
    width: 100%;
    padding-top: 20px;
    margin: 0;
  }

  .column-4 {
    height: 450px;
    width: 100%;
    padding-top: 40px;
    margin: 0;
  }

  .column-5 {
    height: 200px;
    width: 100%;
    background-color: #eaeaea;
    padding-top: 40px;
    margin: 0;
  }

  .column-6 {
    height: 450px;
    width: 30%;
    background-color: #ececec;
    margin-left: 15px;
  }


  .grey-container {
    height: 390px;
    width: 100%;
    background-color: #444444;
  }

  .contact-container {
    height: 1200px;
    width: 100%;
    background-color: #003434;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .message-container {
    height: 600px;
    width: 100%;
    padding-top: 40px;
  }

  .named-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .complete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .description {
    margin: 0;
    padding-top: 20px;
  }

  .form {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .control {
    display: flex;
    width: 300px;
  }

  .form-control {
    width: 45%;
  }

  textarea.form-control {
    width: 300px;
  }

  .description-container {
    padding-top: 20px;
  }

  .mail-container {
    margin: 0;
    padding-top: 20px;
    padding-left: 0;
  }

  .send-container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

}