.img-responsive {
  border: 1px solid #f9f1dc;
}

.featured-image {
  width: 90%;
}

.side-container {
  min-height: 800px;
  min-width: 50%;
  padding-left: 35px;
}

.privacy-container {
  min-height: 1000px;
  width: 100%;
  background-color: white;
  padding: 40px;
  }



.top-header {
  padding-left: 10px;
}

.static {
  display: flex;
  height: 50px;
  width: 50px;
}


@media screen and (min-width: 981px) and (max-width: 1381px) {

  .featured-image {
    width: 90%;
  }

  .side-container {
    min-height: 800px;
    min-width: 50%;
    padding-left: 35px;
  }

  .media-container {
    padding-top: 20px;
    padding-left: 50px;
    min-height: 800px;
    min-width: 50%;
    display: flex;
    flex: 0 0 400px;
  }

  .privacy-container {
    min-height: 1000px;
    width: 100%;
    background-color: white;
    padding: 40px;
  }



  .top-header {
    padding-left: 10px;
  }

  .static {
    display: flex;
    height: 50px;
    width: 50px;
  }

}

@media screen and (min-width: 481px) and (max-width: 980px) {

  .featured-image {
    width: 90%;
  }

  .side-container {
    min-height: 500px;
    min-width: 50%;
    padding-left: 35px;
  }

  .media-container {
    padding-top: 20px;
    padding-left: 20px;
    min-height: 100px;
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 400px;
  }

  .privacy-container {
    min-height: 1000px;
    width: 100%;
    background-color: white;
    padding: 40px;
  }



  .top-header {
    padding-left: 10px;
  }

  .static {
    display: flex;
    height: 50px;
    width: 50px;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {

  .featured-image {
    width: 90%;
  }

  .privacy-container {
    min-height: 1000px;
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .side-container {
    min-height: 1000px;
    width: 100%;
    background-color: #003434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .media-container {
    min-height: 1000px;
    width: 100%;
    background-color: #003434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .static {
    display: flex;
    height: 50px;
    width: 50px;
  }

}
