.section {
  background: #003434;
  padding: 0;
}

.has-columns {
  column-count: 3;
  column-rule: 1px solid #e3e3e3;
  column-gap: 200px;
  text-align: center;
}

.letter-group {
  margin: 2em 0 4em;
}

.letter-group:first-child {
  margin-top: 0;
}

.letter-group:last-child {
  margin-bottom: 0;
}

.letter-group .letter {
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
}

.title {
  color: white;
}
.title a {
  color: #f9f1dc;
}

.subtitle {
  color: white;
}

@media screen and (min-width: 981px) and (max-width: 1381px) {

  .section {
    background: #003434;
    padding: 0;
  }

  .has-columns {
    column-count: 3;
    column-rule: 1px solid #e3e3e3;
    column-gap: 200px;
    text-align: center;
  }

  .letter-group {
    margin: 2em 0 4em;
  }

  .letter-group:first-child {
    margin-top: 0;
  }

  .letter-group:last-child {
    margin-bottom: 0;
  }

  .letter-group .letter {
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
  }

  .title {
    color: white;
  }
  .title a {
    color: #f9f1dc;
  }

  .subtitle {
    color: white;
  }
}

@media screen and (min-width: 481px) and (max-width: 980px) {

  .section {
    background: #003434;
    padding: 0;
  }

  .has-columns {
    column-count: 3;
    column-rule: 1px solid #e3e3e3;
    column-gap: 200px;
    text-align: center;
  }

  .letter-group {
    margin: 2em 0 4em;
  }

  .letter-group:first-child {
    margin-top: 0;
  }

  .letter-group:last-child {
    margin-bottom: 0;
  }

  .letter-group .letter {
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
  }

  .title {
    color: white;
  }
  .title a {
    color: #f9f1dc;
  }

  .subtitle {
    color: white;
  }
}

@media all and (min-width: 100px) and (max-width: 480px) {

  .left-container p {
    color: $beige;
  }

  .section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .has-columns {
    column-count: 0;
    column-gap: 0;
    column-count: 1;

  }

  .title {
    color: white;
  }
  .title a {
    color: #f9f1dc;
  }

  .subtitle {
    color: white;
  }
}


