
.video-container {
  min-height: 1000px;
  width: 100%;
  background-color: #ac212b;
  padding: 40px;
}

.composite-container {
  min-height: 500px;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

.single-container {
  min-height: 500px;
  width: 50%;
  margin: 0;
  padding: 0;
}

.cliche-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.align-icon {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.cliche {
  width: 20%;
}

.down {
  width: 30%;
}






@media screen and (min-width: 981px) and (max-width: 1381px) {

  .video-container {
    min-height: 1000px;
    width: 100%;
    background-color: #ac212b;
    padding: 40px;
  }

  .composite-container {
    min-height: 500px;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: flex-start;
    flex: 0 1 100%;
  }

  .single-container {
    min-height: 500px;
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .cliche-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .align-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .cliche {
    width: 20%;
  }

  .down {
    width: 30%;
  }


}

@media screen and (min-width: 481px) and (max-width: 980px) {

  .video-container {
    min-height: 1000px;
    width: 100%;
    background-color: #ac212b;
    padding: 40px;
  }

  .composite-container {
    min-height: 800px;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }

  .single-container {
    min-height: 500px;
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .cliche-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cliche {
    width: 20%;
  }

  .align-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }




}


@media all and (min-width: 100px) and (max-width: 480px) {

  .video-container {
      min-height: 1000px;
      width: 100%;
      background-color: #ac212b;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
  }

  .composite-container {
    min-height: 500px;
    width: 100%;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

  }

  .single-container {
    min-height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .cliche-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cliche {
    width: 20%;
  }

  .align-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }




}