@font-face {
  font-family: 'Lato Bold';
  src: url('/fonts/Lato-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/fonts/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

$lato-bold: "Lato Bold", sans-serif;
$lato-regular: "Lato Regular", sans-serif;
$montserrat: "Montserrat", sans-serif;
$montserrat-bold: "Montserrat Bold", sans-serif;


.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #F8F8F8;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  color: #595959;
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: capitalize;
  height: 50px;
  width: 50%;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #636F57 !important;
  color: #F8F8F8 !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus
{
  animation: pulse 100s infinite;
  outline: 0;
  border: 1px solid white;
  border-radius: unset;
  padding: 10px 15px;
  color: white;
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.btn-secondary:hover {
  color: black;
}

.btn-large {
  animation: pulse 100s infinite;
  outline: 0;
  border: 1px solid white;
  border-radius: unset;
  padding: 10px 15px;
  color: white;
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: uppercase;
  height: 50px;
  width: 350px;
  cursor: pointer;
}

.btn-large:hover {
  color: black;

}

@keyframes pulse {
  0% {
    background-color:  #f0955f;
  }

  100% {
    background-color: #8f5c3a;
  }
}



.btn-off-white,
.btn-off-white:active,
.btn-off-white:visited,
.btn-off-white:focus
{
  background-color: #f3f3f3;
  outline: 0;
  border: 1px solid black;
  border-radius: unset;
  padding: 10px 15px;
  color: black;
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  cursor: pointer;

}

.btn-off-white:hover {
  color: black;
  background-color: #ebebeb;
}


.btn-small,
.btn-small:active,
.btn-small:visited,
.btn-small:focus {
  background-color: #F9F1DC;
  color: #003434;
  border: 0;
  outline: 0;
  font-family: $lato-bold;
  font-size: 14px;
  height: 25px;
  width: 50px;
  cursor: pointer;
}

.btn-small:hover {
  background-color: #808080;
  color: #f8f8f8;
  text-decoration: none;
}

.btn-small.disabled {
  background-color: #F9F1DC;
  color: #003434;
  border: 0;
  outline: 0;
  font-family: $lato-bold;
  font-size: 14px;
  height: 25px;
  width: 50px;
  opacity: 0.65;
  cursor: not-allowed;
}

.btn-danger,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
  color: white;
  background-color: #d9534f;
  border-color: #d43f3a;
  outline: 0;
  padding: 10px 15px;
  color: white;
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  cursor: pointer;
  margin-left: 135px;
}

.btn-danger:hover {
  background-color: #d43f3a !important;
  color: white !important;
}

.btn-add,
.btn-add:active,
.btn-add:visited,
.btn-add:focus {
  background-color: #717171;
  color: #ffffff;
  font-family: $lato-bold;
  font-size: 14px;
  height: 40px;
  width: 80px;
  position: relative;
  right: 5px;
  cursor: pointer;
  border: none;
}

.btn-add:hover {
  background-color: #f9f1dc !important;
  color: #717171 !important;
}

.btn-tag  {
  background-color: #AE9C2C;
  outline: 0;
  border: 0;
  color: white;
  font-family: $lato-bold;
  font-size: 10px;
  height: 30px;
  width: 75px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

.btn-tag:hover {
  background-color: #808080 !important;
  color: whitesmoke !important;
}

.btn-brown {
  background-color: #8f5c3a;
  outline: 0;
  border: 1px solid white;
  border-radius: unset;
  padding: 10px 15px;
  color: white;
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.btn-brown:hover {
  color: black;
  background-color: white;
}

.btn-white {
  background-color: white;
  outline: 0;
  border: 1px solid #f3f3f3;
  border-radius: unset;
  padding: 10px 15px;
  color: black;
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.btn-white:hover {
  color: white;
  background-color: black;
}


.btn-link {
  margin-left: 250px;
  color: black;
}

.btn-link:hover {
  color: #ada074 !important;
}

.button-group {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.button-centre {
  width: 420px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}


.btn-highlights,
.btn-highlights:active,
.btn-highlights:visited,
.btn-highlights:focus {
  background-color: #f3f3f3;
  outline: 0;
  border: 1px solid black;
  border-radius: unset;
  padding: 10px 15px;
  color: black;
  font-family: $lato-bold;
  font-size: 14px;
  text-transform: uppercase;
  height: 150px;
  width: 350px;
  cursor: pointer;
 }

.btn-highlights:hover {
  color: black;
  background-color: #ebebeb;
}





@media screen and (min-width: 981px) and (max-width: 1381px) {

  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: #F8F8F8;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    color: #595959;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: capitalize;
    height: 50px;
    width: 50%;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #636F57 !important;
    color: #F8F8F8 !important;
  }

  .btn-large {
    animation: pulse 100s infinite;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 350px;
    cursor: pointer;
  }

.btn-large:hover {
    color: black;
  }


  .btn-secondary,
  .btn-secondary:active,
  .btn-secondary:visited,
  .btn-secondary:focus
  {
    animation: pulse 100s infinite;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 160px;
    cursor: pointer;
  }

  .btn-secondary:hover {
    color: black;
  }

  @keyframes pulse {
    0% {
      background-color:  #f0955f;
    }
  
    100% {
      background-color: #8f5c3a;
    }
  }



  .btn-off-white,
  .btn-off-white:active,
  .btn-off-white:visited,
  .btn-off-white:focus
  {
    background-color: #f3f3f3;
    outline: 0;
    border: 1px solid black;
    border-radius: unset;
    padding: 10px 15px;
    color: black;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;

  }

  .btn-off-white:hover {
    color: black;
    background-color: #ebebeb;
  }

  .btn-small,
  .btn-small:active,
  .btn-small:visited,
  .btn-small:focus {
    background-color: #F9F1DC;
    color: #003434;
    border: 0;
    outline: 0;
    font-family: $lato-bold;
    font-size: 14px;
    height: 25px;
    width: 50px;
    cursor: pointer;
  }

  .btn-small:hover {
    background-color: #808080;
    color: #f8f8f8;
    text-decoration: none;
  }

  .btn-small.disabled {
    background-color: #F9F1DC;
    color: #003434;
    border: 0;
    outline: 0;
    font-family: $lato-bold;
    font-size: 14px;
    height: 25px;
    width: 50px;
    opacity: 0.65;
    cursor: not-allowed;
  }

  .btn-danger,
  .btn-danger:active,
  .btn-danger:visited,
  .btn-danger:focus {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
    outline: 0;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;
    margin-left: 135px;
  }

  .btn-danger:hover {
    background-color: #d43f3a !important;
    color: white !important;
  }

  .btn-add,
  .btn-add:active,
  .btn-add:visited,
  .btn-add:focus {
    background-color: #717171;
    color: #ffffff;
    font-family: $lato-bold;
    font-size: 14px;
    height: 40px;
    width: 80px;
    position: relative;
    right: 5px;
    cursor: pointer;
    border: none;
  }

  .btn-add:hover {
    background-color: #f9f1dc !important;
    color: #717171 !important;
  }

  .btn-tag  {
    background-color: #AE9C2C;
    outline: 0;
    border: 0;
    color: white;
    font-family: $lato-bold;
    font-size: 10px;
    height: 30px;
    width: 75px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .btn-tag:hover {
    background-color: #808080 !important;
    color: whitesmoke !important;
  }


  .btn-link {
    margin-left: 250px;
    color: black;
  }

  .btn-link:hover {
    color: #ada074 !important;
  }

  .btn-brown {
    background-color: #8f5c3a;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;
  }

  .btn-brown:hover {
    color: black;
    background-color: white;
  }

  .btn-white {
    background-color: white;
    outline: 0;
    border: 1px solid #f3f3f3;
    border-radius: unset;
    padding: 10px 15px;
    color: black;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;
  }

  .btn-white:hover {
    color: white;
    background-color: black;
  }


  .button-group {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
  }

  .button-centre {
    width: 420px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
  }


  .banner ul {
    margin-bottom: 0;
  }

  .banner-social-buttons {
    float: right;
    margin-top: 0;
  }

  .btn-highlights,
  .btn-highlights:active,
  .btn-highlights:visited,
  .btn-highlights:focus {
    background-color: #f3f3f3;
    outline: 0;
    border: 1px solid black;
    border-radius: unset;
    padding: 10px 15px;
    color: black;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 150px;
    width: 350px;
    cursor: pointer;
  }

  .btn-highlights:hover {
    color: black;
    background-color: #ebebeb;
  }



}



@media screen and (min-width: 481px) and (max-width: 980px) {

  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: #F8F8F8;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    color: #595959;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: capitalize;
    height: 50px;
    width: 50%;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #f9f1dc !important;
    color: #717171 !important;
  }

  .btn-secondary,
  .btn-secondary:active,
  .btn-secondary:visited,
  .btn-secondary:focus {
    animation: pulse 100s infinite;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 160px;
    cursor: pointer;
  }

  .btn-secondary:hover {
    color: black;
  }

  .btn-large {
    animation: pulse 100s infinite;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 350px;
    cursor: pointer;
  }

  .btn-large:hover {
    color: black;
  }

  @keyframes pulse {
    0% {
      background-color:  #f0955f;
    }
  
    100% {
      background-color: #8f5c3a;
    }
  }



  .btn-off-white,
  .btn-off-white:active,
  .btn-off-white:visited,
  .btn-off-white:focus {
    background-color: #f3f3f3;
    outline: 0;
    border: 1px solid black;
    border-radius: unset;
    padding: 10px 15px;
    color: black;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;

  }

  .btn-off-white:hover {
    color: black;
    background-color: #ebebeb;
  }

  .btn-small,
  .btn-small:active,
  .btn-small:visited,
  .btn-small:focus {
    background-color: #F9F1DC;
    color: #003434;
    border: 0;
    outline: 0;
    font-family: $lato-bold;
    font-size: 14px;
    height: 25px;
    width: 50px;
    cursor: pointer;
  }

  .btn-small:hover {
    background-color: #808080;
    color: #f8f8f8;
    text-decoration: none;
  }

  .btn-small.disabled {
    background-color: #F9F1DC;
    color: #003434;
    border: 0;
    outline: 0;
    font-family: $lato-bold;
    font-size: 14px;
    height: 25px;
    width: 50px;
    opacity: 0.65;
    cursor: not-allowed;
  }

  .btn-danger,
  .btn-danger:active,
  .btn-danger:visited,
  .btn-danger:focus {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
    outline: 0;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;
    margin-left: 135px;
  }

  .btn-danger:hover {
    background-color: #d43f3a !important;
    color: white !important;
  }

  .btn-add,
  .btn-add:active,
  .btn-add:visited,
  .btn-add:focus {
    background-color: #717171;
    color: #ffffff;
    font-family: $lato-bold;
    font-size: 14px;
    height: 40px;
    width: 80px;
    position: relative;
    right: 5px;
    cursor: pointer;
    border: none;
  }

  .btn-add:hover {
    background-color: #f9f1dc !important;
    color: #717171 !important;
  }

  .btn-tag {
    background-color: #AE9C2C;
    outline: 0;
    border: 0;
    color: white;
    font-family: $lato-bold;
    font-size: 10px;
    height: 30px;
    width: 75px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .btn-tag:hover {
    background-color: #808080 !important;
    color: whitesmoke !important;
  }
  .btn-brown {
    background-color: #8f5c3a;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;
  }

  .btn-brown:hover {
    color: black;
    background-color: white;
  }

  .btn-white {
    background-color: white;
    outline: 0;
    border: 1px solid #f3f3f3;
    border-radius: unset;
    padding: 10px 15px;
    color: black;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;
  }

  .btn-white:hover {
    color: white;
    background-color: black;
  }

  .btn-link {
    margin-left: 250px;
    color: black;
  }

  .btn-link:hover {
    color: #ada074 !important;
  }

  .button-group {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
  }

  .button-centre {
    width: 420px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
  }

  .banner ul {
    margin-bottom: 0;
  }

  .banner-social-buttons {
    float: right;
    margin-top: 0;
  }


  .btn-highlights,
  .btn-highlights:active,
  .btn-highlights:visited,
  .btn-highlights:focus {
    background-color: #f3f3f3;
    outline: 0;
    border: 1px solid black;
    border-radius: unset;
    padding: 10px 15px;
    color: black;
    font-family: $lato-bold;
    font-size: 12px;
    text-transform: uppercase;
    height: 150px;
    width: 350px;
    cursor: pointer;
  }

  .btn-highlights:hover {
    color: black;
    background-color: #ebebeb;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {

  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: #F8F8F8;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    color: #595959;
    font-family: $montserrat-bold;
    font-size: 14px;
    text-transform: capitalize;
    height: 50px;
    width: 60%;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #636F57 !important;
    color: #F8F8F8 !important;
  }

  .btn-secondary,
  .btn-secondary:active,
  .btn-secondary:visited,
  .btn-secondary:focus
  {
    animation: pulse 100s infinite;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 350px;
    cursor: pointer;
  }

  .btn-secondary:hover {
    color: black;
  }

  .btn-large {
    animation: pulse 100s infinite;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 350px;
    cursor: pointer;
  }

  .btn-large:hover {
    color: black;
   
  }

  @keyframes pulse {
    0% {
      background-color:  #f0955f;
    }
  
    100% {
      background-color: #8f5c3a;
    }
  }

  .btn-danger,
  .btn-danger:active,
  .btn-danger:visited,
  .btn-danger:focus {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
    outline: 0;
    padding: 10px 15px;
    color: white;
    font-family: $montserrat-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 350px;
    cursor: pointer;
    margin-left: 20px;
  }

  .btn-danger:hover {
    background-color: #d43f3a !important;
    color: white !important;
  }

  .btn-add,
  .btn-add:active,
  .btn-add:visited,
  .btn-add:focus {
    background-color: #717171;
    color: #ffffff;
    font-family: $montserrat-bold;
    font-size: 14px;
    height: 40px;
    width: 80px;
    position: relative;
    right: 5px;
    cursor: pointer;
    border: none;
    margin-left: 3px;
  }

  .btn-add:hover {
    background-color: #f9f1dc !important;
    color: #717171 !important;
  }

  .btn-brown {
    background-color: #8f5c3a;
    outline: 0;
    border: 1px solid white;
    border-radius: unset;
    padding: 10px 15px;
    color: white;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;
  }

  .btn-brown:hover {
    color: black;
    background-color: white;
  }


  .btn-white {
    background-color: white;
    outline: 0;
    border: 1px solid #f3f3f3;
    border-radius: unset;
    padding: 10px 15px;
    color: black;
    font-family: $lato-bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    cursor: pointer;
  }

  .btn-white:hover {
    color: white;
    background-color: black;
  }


  .btn-tag {
    display: none;
  }

  .button-group {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 20px;
  }

  .button-centre {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    padding-left: 20px !important;
  }

  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }


  .btn-highlights,
  .btn-highlights:active,
  .btn-highlights:visited,
  .btn-highlights:focus {
    background-color: #f3f3f3;
    outline: 0;
    //border: 1px solid black;
    border-radius: unset;
    padding: 10px 15px;
    color: black;
    font-family: $lato-bold;
    font-size: 12px;
    text-transform: uppercase;
    height: 100px;
    width: 300px;
    overflow-wrap: break-word;
    cursor: pointer;
    margin-bottom: 20px;

  }

  .btn-highlights:hover {
    color: black;
    background-color: #ebebeb;
  }

}





