@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
  src: url('/fonts/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('/fonts/Lato-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}


$lato-bold: 'Lato Bold', sans-serif;
$lato-regular: 'Lato Regular', sans-serif;
$montserrat: 'Montserrat Regular', sans-serif;


header {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}

.logo-left {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  padding-left: 200px;
  padding-top: 20px;
}

.logo-heading {
  padding-top: 13px;
}

.menuIcon {
  display: none;
}


.menu {
  padding-left: 150px;

}

.menu ul {
  display: flex;

}

.menu li a {
  background: white;
  color: #3c3c3c;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: $lato-regular;
  padding: 20px 15px;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-bottom: transparent solid 1px;
}

.menu a:hover {
  color: #8f5c3a;
  border-bottom: #8f5c3a solid 1px;
}


@media screen and (min-width: 981px) and (max-width: 1381px) {

  header {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
  }


  .logo-left {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    padding-left: 200px;
    padding-top: 20px;
  }

  .logo-heading {
    padding-top: 13px;
  }

  .menuIcon {
    display: none;
  }


  .menu {
    padding-left: 150px;
  }

  .menu ul {
    display: flex;
  }

  .menu li a {
    background: white;
    color: #3c3c3c;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: $lato-regular;
    padding: 20px 15px;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-bottom: transparent solid 1px;
  }

  .menu a:hover {
    color: #8f5c3a;
    border-bottom: #8f5c3a solid 1px;
  }

}


@media screen and (min-width: 481px) and (max-width: 980px) {

  header {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
  }

  .logo-left {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    padding-left: 200px;
    padding-top: 20px;
  }

  .logo-heading {
    padding-top: 13px;
  }

  .menuIcon {
    display: none;
  }


  .menu {
    padding-left: 150px;
  }

  .menu ul {
    display: flex;
    flex-wrap: wrap;
  }

  .menu li a {
    background: white;
    color: #3c3c3c;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: $lato-regular;
    padding: 20px 15px;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-bottom: transparent solid 1px;
  }

  .menu a:hover {
    color: #8f5c3a;
    border-bottom: #8f5c3a solid 1px;
  }

}

@media all and (min-width: 100px) and (max-width: 480px) {

  header {
    min-height: 300px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
  }

  .logo-left {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .logo-heading {
    padding-top: 13px;
    padding-left: 20px;
  }

  .fa-bars {
    color: black;
  }

  .menuIcon {
    display: inline-block;
    background-color: #FFFFFF;

  }

  .menu {
    padding: 0;
    margin: 0;
  }



  .menu {
    max-height: 0;
    overflow: hidden;
    float: none;
    text-align: center;
    width: 100%;
    &.menuOpen {
      max-height: 600px;
    }
    ul {
      flex-direction: column;
      li {
        display: block;
        width: 100%;
        background: #000;
        &:hover {
          background: #003434;
        }
        a {
          background: white;
          color: #3c3c3c;
          font-weight: 500;
          letter-spacing: 2px;
          text-decoration: none;
          font-family: $montserrat;
          padding: 20px 15px;
          display: inline-block;
          text-align: center;
          width: 100%;
          border-bottom: transparent solid 1px;
        }
      }
    }
  }

  .menu a:hover {
    color: #8f5c3a;
    border-bottom: #8f5c3a solid 1px;
  }
}