$lato: 'Lato Regular','Helvetica Neue', 'Helvetica', 'Arial',sans-serif;
$primary-color: #f8f8f8;

/* colour */
.is--beige {
  color: #f9f1dc !important;
}

.is--black {
  color: black;
}

.is--black-grey {
  color: #595959;
}

.is--snow {
  color: #FFFAFA;
}

.is--dark-grey {
  color: #191919;
}

.is--white {
  color: $primary-color;
}

.is--white-bottom {
  color: $primary-color;
  padding-bottom: 20px;
}

.is-grey {
  background-color: #bbbbbb;
}

.is-light-grey {
  background-color: #dbdbdb;
}

.is-dark-grey {
  background-color: #606060;
}

.is--underlined {
  text-decoration: underline;
}

.is--without {
  padding-top: 15px;
}

.box-is-beige {
  background-color: #f9f1dc !important;
}

.is--reset {
  padding: 0;
  margin: 0;
}

/* alignment */
.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-flex-bottom {
  display: flex;
  align-items: flex-end;
}

.is-typ-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 150px;
}

.is-aligned {
  vertical-align: baseline;
  color: black;
}

.is--centered {
  text-align: center;
}

/* typography */
.is--uppercase {
  text-transform: uppercase;
}

.is--lower {
  text-transform: none !important;
}

/* Margins Padding */
.is--padded-b10 {
  padding-bottom: 10px;
}

.is--padded-b20 {
  padding-bottom: 20px;
}

.is--padded-b50 {
  padding-bottom: 50px;
}


.is--padded-t5 {
  padding-top: 5px;
}

.is--padded-t10 {
  padding-top: 10px;
}

.is--padded-t20 {
  padding-top: 20px;
}

.is--padded-t40 {
  padding-top: 40px;

}

.is--padded-r10 {
  padding-right: 10px;
}

.is--padded-lr {
  padding-right: 10px;
  padding-left: 10px;
}


.is--margin-t25 {
  margin-top: 25px;
}

.is--margin-bottom20 {
  margin-bottom: 20px;
}

.is--lorem-padding {
  padding-left: 22px;
  padding-bottom: 20px;
}

.is--capitals {
  text-transform: capitalize;
}

.text-transform {
  text-transform: inherit;
}

.is--margin-top10 {
  margin-top: 10px;
}




@media screen and (min-width: 981px) and (max-width: 1381px) {

  /* colour */
  .is--beige {
    color: #f9f1dc !important;
  }

  .is--black {
    color: black;
  }

  .is--black-grey {
    color: #595959;
  }

  .is--snow {
    color: #FFFAFA;
  }

  .is--dark-grey {
    color: #191919;
  }

  .is--white {
    color: $primary-color;
  }

  .is--white-bottom {
    color: $primary-color;
    padding-bottom: 20px;
  }

  .is-grey {
    background-color: #bbbbbb;
  }

  .is-light-grey {
    background-color: #dbdbdb;
  }

  .is-dark-grey {
    background-color: #606060;
  }

  .is--underlined {
    text-decoration: underline;
  }

  .is--without {
    padding-top: 15px;
  }

  .box-is-beige {
    background-color: #f9f1dc !important;
  }

  .is--reset {
    padding: 0;
    margin: 0;
  }

  /* alignment */

  .is-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .is-flex-bottom {
    display: flex;
    align-items: flex-end;
  }

  .is-typ-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 150px;
  }

  .is-aligned {
    vertical-align: baseline;
    color: black;
  }

  .is--centered {
    text-align: center;
  }

  /* typography */
  .is--uppercase {
    text-transform: uppercase;
  }

  .is--lower {
    text-transform: none !important;
  }

  /* Margins Padding */
  .is--padded-b10 {
    padding-bottom: 10px;
  }

  .is--padded-b20 {
    padding-bottom: 20px;
  }

  .is--padded-b50 {
    padding-bottom: 50px;
  }


  .is--padded-t5 {
    padding-top: 5px;
  }

  .is--padded-t15 {
    padding-top: 15px;
  }


  .is--padded-t20 {
    padding-top: 20px;
  }

  .is--padded-t40 {
    padding-top: 40px;

  }

  .is--padded-r10 {
    padding-right: 10px;
  }

  .is--padded-lr {
    padding-right: 10px;
    padding-left: 10px;
  }

  .is--margin-top10 {
    margin-top: 10px;
  }

  .is--margin-t25 {
    margin-top: 25px;
  }

  .is--lorem-padding {
    padding-left: 22px;
    padding-bottom: 20px;
  }

  .is--capitals {
    text-transform: capitalize;
  }

  .text-transform {
    text-transform: inherit;
  }

  .is--margin-bottom20 {
    margin-bottom: 20px;
  }



}

@media screen and (min-width: 481px) and (max-width: 980px) {

  /* colour */
  .is--beige {
    color: #f9f1dc !important;
  }

  .is--black {
    color: black;
  }

  .is--black-grey {
    color: #595959;
  }

  .is--snow {
    color: #FFFAFA;
  }

  .is--dark-grey {
    color: #191919;
  }

  .is--white {
    color: $primary-color;
  }

  .is--white-bottom {
    color: $primary-color;
    padding-bottom: 20px;
  }

  .is-grey {
    background-color: #bbbbbb;
  }

  .is-light-grey {
    background-color: #dbdbdb;
  }

  .is-dark-grey {
    background-color: #606060;
  }

  .is--underlined {
    text-decoration: underline;
  }

  .is--without {
    padding-top: 15px;
  }

  .box-is-beige {
    background-color: #f9f1dc !important;
  }

  /* colour */
  .is--white {
    color: $primary-color;
  }

  .is--black {
    color: black;
  }

  .is--white-bottom {
    color: $primary-color;
    padding-bottom: 20px;
  }

  .is--underlined {
    text-decoration: underline;
  }

  /* alignment */
  .is-aligned {
    vertical-align: baseline;
    color: black;
  }

  .is--centered {
    text-align: center;
  }

  /* typography */
  .is--uppercase {
    text-transform: uppercase;
  }

  .is--lower {
    text-transform: none !important;
  }

  .is--without {
    padding-top: 22px;
  }

  /* margins padding */
  .is--padded-b10 {
    padding-bottom: 10px;
  }

  .is--padded-b20 {
    padding-bottom: 20px;
  }

  .is--padded-b50 {
    padding-bottom: 50px;
  }


  .is--padded-t5 {
    padding-top: 5px;
  }

  .is--padded-t20 {
    padding-top: 20px;
  }

  .is--padded-t40 {
    padding-top: 40px;

  }

  .is--padded-r10 {
    padding-right: 10px;
  }

  .is--padded-lr {
    padding-right: 10px;
    padding-left: 10px;
  }


  .is--margin-t25 {
    margin-top: 25px;
  }

  .is--lorem-padding {
    padding-left: 22px;
    padding-bottom: 20px;
  }

  .is--capitals {
    text-transform: capitalize;
  }

  .text-transform {
    text-transform: inherit;
  }

  .is--margin-bottom20 {
    margin-bottom: 20px;
  }







}

@media all and (min-width: 100px) and (max-width: 480px) {

  /* colour */
  .is--beige {
    color: #f9f1dc !important;
  }

  .is--black {
    color: black;
  }

  .is--black-grey {
    color: #595959;
  }

  .is--snow {
    color: #FFFAFA;
  }

  .is--dark-grey {
    color: #191919;
  }

  .is--white {
    color: $primary-color;
  }

  .is--white-bottom {
    color: $primary-color;
    padding-bottom: 20px;
  }

  .is-grey {
    background-color: #bbbbbb;
  }

  .is-light-grey {
    background-color: #dbdbdb;
  }

  .is-dark-grey {
    background-color: #606060;
  }

  .is--underlined {
    text-decoration: underline;
  }

  .is--without {
    padding-top: 15px;
  }

  .box-is-beige {
    background-color: #f9f1dc !important;
  }


  /* colour */
  .is--white {
    color: $primary-color;
  }

  .is--white-bottom {
    color: $primary-color;
    padding-bottom: 20px;
  }

  .is--underlined {
    text-decoration: underline;
  }

  .is-typ-flex {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  /* Margin Paddings */
  .is--padded-b10 {
    padding-bottom: 10px;
  }

  .is--padded-b20 {
    padding-bottom: 20px;
  }

  .is--padded-b50 {
    padding-bottom: 50px;
  }


  .is--padded-t5 {
    padding-top: 5px;
  }

  .is--padded-t20 {
    padding-top: 20px;
  }

  .is--padded-t40 {
    padding-top: 40px;

  }

  .is--padded-r10 {
    padding-right: 10px;
  }

  .is--padded-lr {
    padding-right: 10px;
    padding-left: 10px;
  }


  .is--margin-t25 {
    margin-top: 25px;
  }

  .is--lorem-padding {
    padding-left: 22px;
    padding-bottom: 20px;
  }

  .is--capitals {
    text-transform: capitalize;
  }

  .text-transform {
    text-transform: inherit;
  }

  .is--margin-bottom20 {
    margin-bottom: 20px;
  }



}


