$lato: 'Lato Regular','Helvetica Neue', 'Helvetica', 'Arial',sans-serif;
$primary-color: #f8f8f8;

/* colour */
.is--beige {
  color: #f9f1dc !important;
}

.is--black {
  color: black;
}

.is--black-grey {
  color: #595959;
}

.is--snow {
  color: #FFFAFA;
}

.is--dark-grey {
  color: #191919;
}

.is--white {
  color: $primary-color;
}

.is--white-bottom {
  color: $primary-color;
  padding-bottom: 20px;
}

.is-grey {
  background-color: #bbbbbb;
}

.is-light-grey {
  background-color: #dbdbdb;
}

.is-dark-grey {
  background-color: #606060;
}

.is--underlined {
  text-decoration: underline;
}

.is--without {
  padding-top: 15px;
}

.box-is-beige {
  background-color: #f9f1dc !important;
}

.is--reset {
  padding: 0;
  margin: 0;
}

/* alignment */

.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-flex-bottom {
  display: flex;
  align-items: flex-end;
}

.is-typ-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 150px;
}

.is-aligned {
  vertical-align: baseline;
  color: black;
}

.is--centered {
  text-align: center;
}

/* typography */
.is--uppercase {
  text-transform: uppercase;
}

.is--lower {
  text-transform: none !important;
}

/* padding margins */
.is--padded-bottom {
  padding-bottom: 20px;
}

.is--both-sides {
  padding-top: 30px;
  padding-bottom: 30px;
}

.is--padded-top-five {
  padding-top: 5px;
}

.is--padded-top-10 {
  padding-top: 10px;
}

.is--padded-top-20 {
  padding-top: 20px;
}

.is--padded-top-40 {
  padding-top: 40px;

}

.is--padded-top-50 {
  padding-top: 50px;
}

.is--padded-left-40 {
  padding-left: 40px;
  padding-top: 5px;
}

.is--mar-top {
  margin-top: 20px;
}

.is--margin-top-25 {
  margin-top: 25px;
}

.is--margin-top-50 {
  margin-top: 50px;
}

.is--lorem-padding {
  padding-left: 22px;
  padding-bottom: 20px;
}

.is--capitals {
  text-transform: capitalize;
}





@media screen and (min-width: 981px) and (max-width: 1381px) {

  /* colour */
  .is--white {
    color: $primary-color;
  }

  .is--black {
    color: black;
  }

  .is--underlined {
    text-decoration: underline;
  }

  /* alignment */
  .is-aligned {
    vertical-align: baseline;
    color: black;
  }

  .is--centered {
    text-align: center;
  }

  .is--without {
    padding-top: 15px;
  }

  .is--reset {
    padding: 0;
    margin: 0;
  }


  /* tyopography */
  .is--uppercase {
    text-transform: uppercase;
  }

  .is--lower {
    text-transform: none !important;
  }

  /* margins padding*/
  .is--padded-bottom {
    padding-bottom: 20px;
  }

  .is--mar-top {
    margin-top: 20px;
  }

  .is--both-sides {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .is--padded-top-10 {
    padding-top: 10px;
  }

  .is--padded-top-40 {
    padding-top: 40px;

  }

  .is--padded-top-50 {
    padding-top: 50px;
  }

  .is--padded-left-40 {
    padding-left: 40px;
    padding-top: 5px;
  }

  .is--margin-top-25 {
    margin-top: 25px;
  }

  .is--margin-top-50 {
    margin-top: 50px;
  }

  .is--lorem-padding {
    padding-left: 22px;
    padding-bottom: 20px;
  }


 }

@media screen and (min-width: 481px) and (max-width: 980px) {

  /* colour */
  .is--white {
    color: $primary-color;
  }

  .is--black {
    color: black;
  }

  .is--white-bottom {
    color: $primary-color;
    padding-bottom: 20px;
  }

  .is--underlined {
    text-decoration: underline;
  }

  /* alignment */
  .is-aligned {
    vertical-align: baseline;
    color: black;
  }

  .is--centered {
    text-align: center;
  }

  /* typography */
  .is--uppercase {
    text-transform: uppercase;
  }

  .is--lower {
    text-transform: none !important;
  }

  .is--without {
    padding-top: 22px;
  }

  /* margins padding */
  .is--both-sides {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .is--padded-bottom {
    padding-bottom: 20px;
  }

  .is--padded-top-10 {
    padding-top: 10px;
  }

  .is--padded-top-40 {
    padding-top: 40px;

  }

  .is--padded-top-50 {
    padding-top: 50px;
  }

  .is--padded-left-40 {
    padding-left: 40px;
    padding-top: 5px;
  }

  .is--mar-top {
    margin-top: 20px;
  }

  .is--margin-top-25 {
    margin-top: 25px;
  }

  .is--margin-top-50 {
    margin-top: 50px;
  }

  .is--lorem-padding {
    padding-left: 22px;
    padding-bottom: 20px;
  }

  .is--reset {
    padding: 0;
    margin: 0;
  }



}

@media all and (min-width: 100px) and (max-width: 480px) {

  /* colour */
  .is--white {
    color: $primary-color;
  }

  .is--white-bottom {
    color: $primary-color;
    padding-bottom: 20px;
  }

  .is--underlined {
    text-decoration: underline;
  }

  .is-typ-flex {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .is--padding-bottom {
    padding-bottom: 20px;
  }

  .is--padded-top-10 {
    padding-top: 10px;
  }

  .is--padded-left-40 {
    padding-left: 20px;
    padding-top: 5px;
  }

  .is--padded-top-40 {
    padding-top: 20px;
  }

  .is--lorem-padding {
    padding-left: 22px;
    padding-bottom: 20px;
  }

  .is--padded-bottom {
    padding-bottom: 20px;
  }

  .is--reset {
    padding: 0;
    margin: 0;
  }


}


